<base-showcase>

  <div examples>
    <div class="row">
      <div class="col-12">

        <div class="row">
          <div class="col-12 title-sco">
            <span>Ejemplo 1: Login estandar</span>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-12">
            <sco-toggle 
              [inLine]="true"
              [(ngModel)]="verticalButtons"
              [label]="'Vertical buttons'">
            </sco-toggle>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <sco-login
              [showLabelPwdRecovery]="true"
              [showLabelUserRegister]="true"
              [formErrors]="formErrors"
              [verticalButtons]="verticalButtons"
              (cancel)="cancelButton()"
              (confirm)="confirmButton($event)"
              (pwdRecovery)="pwdRecovery()"
              (registerUser)="registerUser()">
            </sco-login>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div code>
    <sco-tabs>
      <sco-tab-item title="HTLM">
        <pre>
          <code class="language-markup" pCode ngNonBindable>
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-12&quot;&gt;

    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-12 title-sco&quot;&gt;
      &lt;span&gt;Ejemplo 1: Login estandar&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-12&quot;&gt;
        &lt;sco-login
          [showLabelPwdRecovery]=&quot;true&quot;
          [showLabelUserRegister]=&quot;true&quot;
          [formErrors]=&quot;formErrors&quot;
          [verticalButtons]=&quot;false&quot;
          (cancel)=&quot;cancelButton()&quot;
          (confirm)=&quot;confirmButton($event)&quot;
          (pwdRecovery)=&quot;pwdRecovery()&quot;
          (registerUser)=&quot;registerUser()&quot;&gt;
        &lt;/sco-login&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  &lt;/div&gt;
&lt;/div&gt;
          </code>
        </pre>
      </sco-tab-item> 
      <sco-tab-item title="CSS">
          <pre><code class="language-css" pCode ngNonBindable>
          </code></pre>
      </sco-tab-item>
      <sco-tab-item title="TS">
          <pre><code class="language-typescript" pCode ngNonBindable>
import &#123; ScoFormError &#125; from './../../../../projects/sco-angular-components/src/services/sco-form-errors/sco-form-error.model';
import &#123; ScoCacheService &#125; from '../../../../projects/sco-angular-components/src/services/sco-cache.service';
import &#123; ScoToastService &#125; from './../../../../projects/sco-angular-components/src/components/sco-toast/sco-toast.service';
import &#123; ILogin &#125; from './../../../../projects/sco-angular-components/src/components/sco-login/model/sco-login.model';
import &#123; Component &#125; from '&commat;angular/core';

&commat;Component(&#123;
  selector: 'app-showcase-sco-login',
  templateUrl: './showcase-sco-login.component.html',
  styleUrls: ['./showcase-sco-login.component.scss']
&#125;)

export class ShowcaseScoLoginComponent &#123;

  public formErrors: ScoFormError[];

  constructor(
    private readonly toastService: ScoToastService,
    private readonly cacheService: ScoCacheService,
  ) &#123; 
    this.cacheService.setElement("title", "Login");
    this.formErrors = [];
  &#125;

  cancelButton() &#123;
    this.toastService.addSuccessMessage("Exito", "Botón cancelar presionado");
  &#125;

  confirmButton($event: ILogin) &#123;
    this.toastService.addSuccessMessage("Exito", "Botón confirmar presionado: " + JSON.stringify($event));
    this.validateFormValues($event);
  &#125;

  pwdRecovery() &#123;
    this.toastService.addSuccessMessage("Exito", "Accion recuperar contrasela seleccionada");
  &#125;

  registerUser() &#123;
    this.toastService.addSuccessMessage("Exito", "Accion registrar usuario seleccionada");
  &#125;

  private validateFormValues(iLogin: ILogin): void &#123;
    this.formErrors = [];

    if (!iLogin.name) &#123;
      this.formErrors.push(&#123; 
        formControlName: 'name', 
        error: 'Nombre de usuario no informado',
      &#125;);
    &#125;

    if (!iLogin.password) &#123;
      this.formErrors.push(&#123; 
        formControlName: 'password', 
        error: 'Contraseña de usuario no informado',
      &#125;);
    &#125;
  &#125;
&#125;
          </code></pre>
      </sco-tab-item>
    </sco-tabs>
  </div>

  <div class="scrollable" inputs>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcción</th>
          <th>Tipo</th>
          <th>Valor por defecto</th>
          <th>Posibles valores</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>labelUser</td>
          <td>Texto para la etiqueta del input Usuario</td>
          <td>string</td>
          <td>'Usuario'</td>
          <td></td>
        </tr>
        <tr>
          <td>labelPassword</td>
          <td>Texto para la etiqueta del input Contraseña</td>
          <td>string</td>
          <td>'Contraseña'</td>
          <td></td>
        </tr>
        <tr>
          <td>labelCancel</td>
          <td>Texto del botón cancelar</td>
          <td>string</td>
          <td>'Cancelar'</td>
          <td></td>
        </tr>
        <tr>
          <td>labelConfirm</td>
          <td>Texto del botón Acceder</td>
          <td>string</td>
          <td>'Acceder'</td>
          <td></td>
        </tr>
        <tr>
          <td>labelPwdRecovery</td>
          <td>Texto de la acción recuperar contraseña</td>
          <td>string</td>
          <td>'Recuperar contraseña'</td>
          <td></td>
        </tr>
        <tr>
          <td>showLabelPwdRecovery</td>
          <td>Indica si mostrar o no la acción recuperar contraseña</td>
          <td>boolean</td>
          <td>true</td>
          <td></td>
        </tr>
        <tr>
          <td>labelUserRegister</td>
          <td>Texto de la acción registrar usuario</td>
          <td>string</td>
          <td>'Registrar usuario'</td>
          <td></td>
        </tr>
        <tr>
          <td>showLabelUserRegister</td>
          <td>Indica si mostrar o no la acción registrar usuario</td>
          <td>boolean</td>
          <td>true</td>
          <td></td>
        </tr>
        <tr>
          <td>formErrors</td>
          <td>Provee los errores del formulario validado, es reactivo en la pantalla</td>
          <td>ScoFormError[]</td>
          <td>[]</td>
          <td></td>
        </tr>
        <tr>
          <td>verticalButtons</td>
          <td>Indicador para modificar la disposición de los botones del componente</td>
          <td>boolean</td>
          <td>false</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="scrollable" outputs>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcción</th>
          <th>Valor devuelto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>cancel</td>
          <td>Indica pulsación en el botón cancelar</td>
          <td>boolean</td>
        </tr>
        <tr>
          <td>confirm</td>
          <td>Indica pulsación en el botón confirmar. Devuelve usuario y contraseña introducidos</td>
          <td>ILogin</td>
        </tr>
        <tr>
          <td>pwdRecovery</td>
          <td>Indica pulsación en la acción recuperar contraseña</td>
          <td>boolean</td>
        </tr>
        <tr>
          <td>registerUser</td>
          <td>Indica pulsación en la acción registrar usuario</td>
          <td>boolean</td>
        </tr>
      </tbody>
    </table>
  </div>

</base-showcase>