.sco-manage-list {
    font-family: 'sco regular';

    &__no-results {
        text-align: center;
        padding: 20px;
    }
    
    &--label{
        text-transform: uppercase;
        margin-bottom: 5px;
        font-family: 'sco semi bold';
        font-size: 18px;
    }
}

