.sco-manage-list {
    font-family: 'sco regular';

    &__no-results {
        text-align: center;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 0px;
        padding-bottom: 5px;
    }
    
    &--label{
        margin-bottom: 5px;
        font-family: 'sco semi bold';
        font-size: 18px;
    }
}

