<div class="sco-app" [ngClass]="themeService.theme" scoResolution >

  <div class="sco-app__header sco-header-theme-color" [ngClass]="{'sco-app__header--fixed': headerFixed}">
    <div class="sco-app__header--logo-content">
      <img *ngIf="logoPath && logoPath.length > 0" class="sco-app__header--logo-content_logo" [src]="logoPath" [ngStyle]="{
          'width.px': logoWidth,
          'height.px': logoHeight
        }"
        (click)="onCLickLogo()"
      >
    </div>
    <div class="sco-app__header--rest-content">
      <div class="sco-app__header--rest-content--menu-margin" *ngIf="showMenus">
        <sco-menu 
          [hidden]="showMenu()"
          [menuItems]="menuItems"
          [borderRadius]="menuBorderRadius"
          [translatePipe]="translatePipe"
          (itemClick)="onClickMenuItem($event)">
        </sco-menu>
        <sco-menu-mobile
          [hidden]="showMenuMobile()"
          [menuItems]="menuItems"
          [menuButtonTransparent]="menuMobileTransparent"
          [menuButtonIcon]="menuMobileIcon"
          [menuButtonIconColorRevert]="menuMobileColorRevert"
          [showMenuIcons]="menuMobileShowIcons"
          [translatePipe]="translatePipe"
          [headerMargin]="menuMobileHeaderMargin"
          (itemClick)="onClickMenuItem($event)">
        </sco-menu-mobile>
      </div>
    </div>
  </div>

  <div class="sco-app__content" 
    [ngStyle]="{
      'padding.px': contentPadding,
      'background-color': contentBackgroundColor != undefined ? contentBackgroundColor : ''
    }"
    [ngClass]="{
      'sco-bg-theme-color': contentBackgroundColor == undefined
    }"
  >
    <ng-template #contentapp>
      <ng-content select="[content-app]" ngProjectAs="[content-app]">
      </ng-content>
    </ng-template>
    <ng-container *ngTemplateOutlet="contentapp">
    </ng-container>
  </div>

  <ng-container *ngIf="toastEnabled">
    <sco-toast
      [orientation]="toastOrientation" 
      [block]="toastBlock">
    </sco-toast>
  </ng-container>
  
  <ng-container *ngIf="spinnerEnabled">
    <sco-spinner
      [embedded]="spinnerEmbedded"
      [pathImg]="spinnerImgPath">
    </sco-spinner>
  </ng-container>
  
</div>