<base-showcase>

  <div examples>
    <div class="row mt-1">
      <div class="col-12 title-sco">
        <span>Parámetros de entrada</span>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-4">
        <sco-input
          [label]="'Label'"
          [showLabel]="true"
          [(ngModel)]="label">
        </sco-input>
      </div>
      <div class="col-4">
        <sco-input
          [label]="'Label Add Item'"
          [showLabel]="true"
          [(ngModel)]="labelAddItem">
        </sco-input>
      </div>
      <div class="col-4">
        <sco-input
          [label]="'Label Empty'"
          [showLabel]="true"
          [(ngModel)]="labelEmpty">
        </sco-input>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 title-sco">
        <span>Componente</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <sco-manage-list
          [label]="label"
          [labelAddItem]="labelAddItem"
          [labelEmpty]="labelEmpty"
          [(ngModel)]="list"
          (change)="onChangeList($event)">
        </sco-manage-list>
      </div>
    </div>
  </div>

  <div code>
    <sco-tabs>
      <sco-tab-item title="HTML">
        <pre>
          <code class="language-markup" pCode ngNonBindable>
&lt;sco-manage-list
  [label]=&quot;label&quot;
  [labelAddItem]=&quot;labelAddItem&quot;
  [labelEmpty]=&quot;labelEmpty&quot;
  [(ngModel)]=&quot;list&quot;
  (change)=&quot;onChangeList($event)&quot;&gt;
&lt;/sco-manage-list&gt;
          </code>
        </pre>
      </sco-tab-item>

      <sco-tab-item title="CSS">
        <pre>
          <code class="language-css" pCode ngNonBindable>        
          </code>
        </pre>
      </sco-tab-item>

      <sco-tab-item title="TS">
        <pre>
          <code class="language-typescript" pCode ngNonBindable>
import &#123; Component &#125; from '@angular/core';
import &#123; ScoCacheService &#125; from 'sco-angular-components';

&commat;Component(&#123;
  selector: 'app-showcase-sco-manage-list',
  templateUrl: './showcase-sco-manage-list.component.html',
  styleUrls: ['./showcase-sco-manage-list.component.scss']
&#125;)
export class ShowcaseScoManageListComponent &#123;
  
  public label: string = 'Lista';
  public labelAddItem: string = 'Añadir elemento';
  public labelEmpty: string = 'Sin elementos';
  public list: string[];

  constructor(private readonly cacheService: ScoCacheService) &#123;
    this.cacheService.setElement('title', 'Manage List');
  &#125;

  onChangeList($event: any) &#123;
    // TODO: Child Elements (Inputs) send untounched output event and it is captured here
    // This Fix Untounched output event captured. Refactor any type is needed
    // $event returns string[]
    if ($event && $event.bubbles) &#123;
      return;
    &#125;
  &#125;
&#125;
          </code>
        </pre>
      </sco-tab-item>
    </sco-tabs>
  </div>

  <div class="scrollable" inputs>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Tipo</th>
          <th>Valor por defecto</th>
          <th>Posibles valores (constants)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>label</td>
          <td>Titulo de el manage list</td>
          <td>text</td>
          <td>undefined</td>
          <td></td>
        </tr>
        <tr>
          <td>labelAddItem</td>
          <td>Texto boton añadir elemento</td>
          <td>text</td>
          <td>undefined</td>
          <td></td>
        </tr>
        <tr>
          <td>labelEmpty</td>
          <td>Texto cuando no hay items</td>
          <td>text</td>
          <td>undefined</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="scrollable" outputs>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcción</th>
          <th>Valor devuelto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>change</td>
          <td>El evento se lanza cada vez que se modifica un valor de la lista</td>
          <td>string[]</td>
        </tr>
      </tbody>
    </table>
  </div>

</base-showcase>
