


<base-showcase>

  <div examples>
    <div class="row">
      <div class="col-12">

        <!-- 1 -->
        <div class="row mt-1">
          <div class="col-12 title-sco">
            <span>Ejemplo 1: Botón estandar</span>
          </div>
        </div>

        <div class="row">
          <div class="col-12 pl4- pt-1">
            <sco-split-button
              [actions]="actionsEx1"
              (selectAction)="selectActionEx1($event)">
            </sco-split-button>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <div code>
    <sco-tabs>
      <sco-tab-item title="HTML">
        <pre >
          <code class="language-markup" pCode ngNonBindable>
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-12&quot;&gt;
      
    <!-- 1 -->
    &lt;div class=&quot;row mt-1&quot;&gt;
      &lt;div class=&quot;col-12 title-sco&quot;&gt;
        &lt;span;&gt;Ejemplo 1: Botón estandar&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-12 pl4- pt-1&quot;&gt;
        &lt;sco-split-button
          [actions]=&quot;actionsEx1&quot;
          (selectAction)=&quot;selectActionEx1($event)&quot;&gt;
        &lt;/sco-split-button&gt;
      &lt;/div>
    &lt;/div>   

  &lt;/div&gt;
&lt;/div&gt;
          </code>
        </pre>
      </sco-tab-item>
      <sco-tab-item title="CSS">

      </sco-tab-item>
      <sco-tab-item title="TS">
        <pre >
          <code class="language-typescript" pCode ngNonBindable>
import &#123; animate, state, style, transition, trigger &#125; from '@angular/animations';
import &#123; Component &#125; from '@angular/core';
import &#123; ScoAction, ScoCacheService, ScoToastService &#125; from 'projects/sco-components/src/public-api';

&commat;Component(&#123;
  selector: 'app-split-button-showcase',
  templateUrl: './split-button-showcase.component.html',
  styleUrls: ['./split-button-showcase.component.scss']
&#125;)
export class SplitButtonShowcaseComponent &#123;

  public actionsEx1: ScoAction&lt;string&gt;[] = [
    &#123; label: 'Save', value: 'SAVE', item: 'save', icon: 'fa fa-floppy-o'&#125;,
    &#123; label: 'Update', value: 'UPDATE', item: 'update', icon: 'fa fa-refresh'&#125;,
    &#123; label: 'Delete', value: 'DELETE', item: 'delete', icon: 'fa fa-trash'&#125;,
  ];

  constructor(
    public cacheService: ScoCacheService,
    public toastService: ScoToastService
  ) &#123; 
    this.cacheService.setElement('title', 'Split-button');
  &#125;
  
  selectActionEx1($event)&#123;
    this.toastService.addSuccessMessage("Accion seleccionada ejemplo 1", JSON.stringify($event));
  &#125;
&#125;
          </code>
        </pre>

      </sco-tab-item>
    </sco-tabs>

  </div>

  <div inputs>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Tipo</th>
          <th>Valor por defecto</th>
          <th>Posibles valores (constants)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>actions</td>
          <td>Acciones a mostrar, la primera sera la acción por defecto</td>
          <td>ScoAction&lt;T&gt;</td>
          <td>[]</td>
          <td></td>
        </tr>
      </tbody>
   
    </table>
  </div>

  <div outputs>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Valor devuelto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>selectAction</td>
          <td>Evento al seleccionar una acción</td>
          <td>T</td>
        </tr>
      </tbody>
    </table>
  </div>
  

</base-showcase>