$primary: #1F1F1F;
$color-text: #FFF;
$border-primary: 1px solid $color-text;

$background: #1F1F1F;
$selected: #aefff48c;
$content: #121212;

.theme-dark {
    background-color: $content !important;
    color: $color-text !important;

    /* Sco-paginator */
    .ngx-pagination a, .ngx-pagination button{
        color: $color-text !important;
    }
    
    .ngx-pagination a:hover {
        color: #000 !important;
    }

    .sco-header-theme-color {
        background: none !important;
        background-color: $background !important;
    }

    .sco-bg-theme-color {
        background: $content !important;
    }

    .sco-form-error {
        color: #f44336;
        font-size: 14px;
        font-family: 'sco regular';
    }

    sco-accordion {
        .sco-accordion {
            &__title { 
                border: $border-primary;
            }

            &__content {
                &--is-opened { 
                    border-left-color: $color-text;
                    border-right-color: $color-text;
                    border-bottom-color: $color-text;
                }
            }
        }
    }

    sco-detail {
        .sco-detail {
            border-color: $color-text !important;
            background: $content;
        }
    }

    sco-dropdown {
        .sco-dropdown {
            .form-control {
                background: $background;
                color: $color-text;
            }

            &__title { 
                &--require {
                    color: $color-text;
                }
        
                &--label {
                    color: $color-text;
                }
            }

            &__panel-items { 
                background: $background;

                ul { 
                    li {
                        &:hover { 
                            background: $selected;
                        }
                    }
                }
            }

            .input-group-append i {
                color: $color-text;
            }
        }
    }

    sco-modal { 
        .sco-modal {
            background: $background;

            .card { 
                background: $background;
            }
        }
    }

    sco-toggle { 
        .sco-toggle { 
            &__btn { 
                &::after { 
                    background: $background;
                }
            }
        }
    }

    sco-table {
        .sco-table {
            &__table {
                width: 100%;
                
                &--thead {
                    background-color: #454545;
                    color: $color-text;
                }

                &--tbody {
                    color: $color-text;

                    &__row {
                        &:hover {
                            background-color: $selected; 
                        }
        
                        &--can-select {
                            cursor: pointer;
                        }
        
                        &--pair {
                            background-color: $content;
                        }
        
                        &--no-pair {
                            background-color: $background;
                        }
                    }

                    &__actions { 
                        &--options-panel { 
                            border: $border-primary;
                            background-color: $background;

                            &--panel {
                                &:hover {
                                    background-color: $selected;
                                }
                            }
                        }  
                    }
                }

                &--tfoot {
                    color: $color-text;
                }
        
                &--no-result {
                    color: $color-text;
                }
        
                &--pagination {
                    color: $color-text;
                }
            }
        }
    }

    sco-block-list-item { 
        .sco-block-list-item { 
            border: $border-primary;
            background: $background;

            &:hover {
                background: $selected;
            }

            &__actions { 
                &--options-panel { 
                    border: $border-primary;
                    background: $background;
                }

                li {
                    &:hover {
                        background: $selected;
                    }
                }
            }
        }
    }

    sco-block-list-data { 
        .sco-block-list-data { 
            &__value {
                color: $primary;
            }

            &__label {
                color: #c8c8c8;
            }
        }
    }

    sco-tabs {
        .sco-tabs {
            &__tittle {
                color: $color-text !important;

                &--selected {
                    border-bottom-color: #FFF !important;
                }
            }
        }
    }

    sco-input {
        .sco-input {

            .input-group {
                .form-control {
                    background: $background;
                    color: $color-text;
                }
    
            }
            
            .input-group-append i {
                color: $color-text;
            }
        }  

        &__label { 

            &--title {
                color: $color-text;
            }
    
            &--require {
                color: $color-text;
            }
        }
    }

    sco-login {
        .sco-login {
            border: $border-primary;

            &__title {
                color: $color-text;
            }
        }
    }

    sco-card {
        .sco-card {
            border: 0.1px solid #343a40;

            &__title {
                height: 60px;
                background-color: $content;
            }

            &__body {
                background-color: $background;
            }
        }
    }

    sco-button {
        .sco-button {
          &--mode-default {
            color: #FFF !important;
            border-color:  rgb(52, 58, 64, 0.9) !important;
            background-color: rgb(52, 58, 64, 0.9) !important;

            &:hover {
                border-color: rgb(207, 207, 207, 0.3) !important;
                background: rgb(207, 207, 207, 0.3) !important;
                border-color: transparent !important;
            }

            .sco-button {
                &--text {
                    color: #FFF !important;
                }
            }
          }

          &--disabled {
            color: #FFF !important;
            border-color: rgb(211, 211, 211, 0.9) !important;
            background: rgb(211, 211, 211, 0.9) !important;
            pointer-events: none !important; 
          }

          &--icon-type {
            color: #FFF !important;
            border-color:  rgb(52, 58, 64, 0.9) !important;
            background-color: rgb(52, 58, 64, 0.9) !important;

            &:hover {
                border-color: rgb(207, 207, 207, 0.3) !important;
                background: rgb(207, 207, 207, 0.3) !important;
                border-color: transparent !important;
            }

            .sco-button {
                &--text {
                    color: #FFF !important;
                }
            }
          }

          &--transparent {
            background-color: transparent !important;
            border-color: transparent !important;
          }
        }
    }

    sco-badge-pill {
        .sco-badge {
          &--info {
            background: #f8f9fa !important;
            color: #212529 !important;
          }
    
        } 
    }

    sco-textarea {
        .sco-textarea {
          &__textarea-container {
            &--textarea {
              border: 2px solid #fff;
              color: #FFF;
              background-color: $background;
            }
          }
        }
    }

    sco-round-button {
        .sco-round-button {
          &__container {
            &--input {
              background-color: #f8f9fa;
              border: 5px solid grey;

              &--active {
                background-color: $primary;
              }
            }
          }
        }
    }

    sco-progress-bar {
        .sco-progress-bar {
            background-color: $primary;

          .progress-bar {
            background-color: lightgray;
            color: #000;
          }
        }
    }

    sco-checkbox {
        .sco-checkbox {
          &__container {
            &--input {
                background-color: #FFF;

              &--active {
                color: #FFF !important;
                border-color:  rgb(52, 58, 64, 0.9) !important;
                background-color: rgb(52, 58, 64, 0.9) !important;
              }
            }
          }
        }
    }

    sco-split-button {
        .sco-split-button {
            &__options {
                background: $background;
            }
        }
    }

    /* Sco-calendar only in dark modes */
    sco-calendar {
        .sco-calendar { 
            .p-inputtext {
                background: $background !important;
                color: #fff !important;
            }

            .p-datepicker {
                background: $background !important;
                color: #fff !important;
            }

            .p-datepicker-today {
                background: $background !important;
                color: #fff !important;
            }
            
            .p-datepicker-header {
                background: $background !important;
                color: #fff !important;
            }
        }
    }

    sco-menu {
        .sco-menu {
            &__menu {
                position: relative;
                display: block;

                div:hover {
                    color: $color-text;
                    background-color: lightslategray;
                }

                &--menu-item { 
                    background-color: transparent;
                    font-family: 'sco medium';
                    font-size: 20px;
                    color: $color-text;      
                    display: flex;
                    border-radius: 0px;
                    width: max-content;

                    &--sub-item-hover {
                        color: #FFF;
                        background-color: lightslategray;
                    }
                }
            }

            &__sub-menu { 
                &--sub-menu-item { 
                    background-color: $background;
                    width: 100%;
                    font-family: 'sco medium';
                    font-size: 20px;
                    color: $color-text;    
                    border: 0px;
                    border-radius: 0px;
                }
            }
        }
    }

    sco-menu-mobile {
        .sco-menu-mobile {
            background-color: $content !important; 
            border-left: 1px solid rgb(19,18,18, 0.3) !important;

            &__header { 
                background: none !important;
                background-color: $background !important;
            }

            &__content { 
                &__menu { 
                    border-bottom: 1px solid rgb(19,18,18, 0.3); 

                    &:hover {
                        background-color: rgb(128, 128, 128, 0.3);
                    }
                }

                &__sub-menu { 
                    &:hover {
                        background-color: rgb(211, 211, 211, 0.4) !important;
                    }
                }
            }
        }
    }

    sco-pdf-viewer {
        .sco-pdf-viewer {
            background-color: $background;
        }
    }
}