<base-showcase>

  <div examples>
    <div class="row">
      <div class="col-12">

        <div class="row mt-1">
          <div class="col-12 title-sco">
              <span>Ejemplo 1: Menú</span>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-12">
            <sco-toggle 
              [inLine]="true"
              [(ngModel)]="borderRadius"
              [label]="'Border radius'">
            </sco-toggle>
          </div>
        </div>

        <div class="row mt-1 p-4">
            <div class="col-12 p-1 bg-theme-color">
              <sco-menu
                [menuItems]="menuItems"
                [borderRadius]="borderRadius">
              </sco-menu>
            </div>
        </div>

      </div>
    </div>
  </div>

  <div code>
    <sco-tabs>
      <sco-tab-item title="HTLM">
          <pre><code class="language-markup" pCode ngNonBindable>
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-12&quot;&gt;

    &lt;div class=&quot;row mt-1&quot;&gt;
      &lt;div class=&quot;col-12 title-sco&quot;&gt;
        &lt;span&gt;Ejemplo 1: Menú&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;row mt-1&quot;&gt;
      &lt;div class=&quot;col-12&quot;&gt;
        &lt;sco-toggle 
          [inLine]=&quot;true&quot;
          [(ngModel)]=&quot;borderRadius&quot;
          [label]=&quot;'Border radius'&quot;&gt;
        &lt;/sco-toggle&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;row mt-1 p-4&quot;&gt;
      &lt;div class=&quot;col-12 p-1 bg-theme-color&quot;&gt;
        &lt;sco-menu
          [menuItems]=&quot;menuItems&quot;
          [borderRadius]=&quot;borderRadius&quot;&gt;
        &lt;/sco-menu&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  &lt;/div&gt;
&lt;/div&gt;
          </code></pre>
      </sco-tab-item>
    
      <sco-tab-item title="CSS">
          <pre><code class="language-css" pCode ngNonBindable>
          </code></pre>
      </sco-tab-item>
  
      <sco-tab-item title="TS">
          <pre><code class="language-typescript" pCode ngNonBindable>
import &#123; MenuItem &#125; from './../../../../projects/sco-angular-components/src/components/sco-menu/model/menu-item';
import &#123; Component, OnInit &#125; from '&commat;angular/core';

export const EXAMPLE_MENU: MenuItem[] = [
  &#123;
    icon: "fa fa-caret-down",
    text: "Gest. usuarios",
    children: [
      &#123;
        text: "Usuarios",
        route: "users",
        icon: "fa fa-user"
      &#125;,
      &#123;
        text: "Roles",
        route: "roles",
        icon: "fa fa-user"
      &#125;,
      &#123;
        text: "Permisos",
        route: "permissions",
        icon: "fa fa-user"
      &#125;
    ]
  &#125;,
  &#123;
    icon: "fa fa-gear",
    text: "Opciones",
    route: "/options",
  &#125;,
  &#123;
    icon: "fa fa-sign-out",
    text: "Cerrar sesión",
    route: "/auth/logout",
  &#125;,
];

&commat;Component(&#123;
  selector: 'app-showcase-sco-menu',
  templateUrl: './showcase-sco-menu.component.html',
  styleUrls: ['./showcase-sco-menu.component.scss']
&#125;)
export class ShowcaseScoMenuComponent implements OnInit &#123;

  public menuItems: MenuItem[];
  public borderRadius: boolean;

  constructor() &#123; 
    this.menuItems = [];
    this.borderRadius = false;
  &#125;

  ngOnInit() &#123;
    this.menuItems = EXAMPLE_MENU;
  &#125;

&#125;            
          </code></pre>
      </sco-tab-item>
    </sco-tabs>
  </div>

  <div class="scrollable" inputs>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcción</th>
          <th>Tipo</th>
          <th>Valor por defecto</th>
          <th>Posibles valores</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="scrollable" outputs>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcción</th>
          <th>Valor devuelto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

</base-showcase>