.sco-toast {

    position: absolute;
    z-index: 99999;

    &__top-right {
        top: 10px;
        right: 10px;
    }
    
    &__top-left {
        top: 10px;
        left: 10px;
    }
    
    &__bottom-right {
        bottom: 10px;
        right: 10px;
    }
    
    &__bottom-left {
        bottom: 10px;
        left: 10px;
    }

    &__container {
      
        &--block {
            width: calc(100vw - 20px);
        }

        padding: 5px;
        margin-bottom: 10px;
        border-radius: 4px;
        border: 1px solid #c8c8c8;

        &--content {
            padding: 5px 0px;
            font-size: 14px;
            font-family: 'sco regular';
        }

        &--tittle {
            padding-bottom: 5px;
            border-bottom: 1px solid #FFF;
        }

        &--tittle--message {
            width: 270px;
            display: inline-block;
            font-size: 18px;
            font-family: 'sco regular';
        }

        &--tittle-close-toast {
            position: absolute;
            font-size: 20px;
        }
    }
}

.w-90 {
    width: 90% !important;
}

.w-10 {
    width: 10% !important;
}

.c-pointer {
    cursor: pointer !important;
}