<div class="sco-menu row no-gutters vh-100">
  <div class="col-12">

    <div class="sidebar">
      <div class="logo">
        <img (click)="clickLogo()" src="assets/img/logo.png" alt="">
      </div>

      <div class="mt-3" (click)="openCloseMenu()">
        <img src="assets/img/book-menu.png" alt="">
      </div>

      <div class="mt-3" (click)="openTheme()">
        <img src="assets/img/theme.png" alt="">
      </div>

      <div class="logo-web">
        <a href="https://santiagocomerasoteo.es" target="_blank">
          <img src="assets/img/web.png" alt="">
        </a>
      </div>

      <div class="logo-git">
        <a href="https://github.com/SCO-SantiComeras" target="_blank">
          <img src="assets/img/github.png" alt="">
        </a>
      </div>

      <div class="logo-npm">
        <a href="https://www.npmjs.com/~sco-santiago" target="_blank">
          <img src="assets/img/npm.png" alt="">
        </a>
      </div>
    </div>

    <div class="main">

      <div class="main-bar">
        <span>{{cacheService.getElement("title")}}</span>
      </div>

      <div class="main-content" #main>
        <ng-content select="[content]"></ng-content>

        <sco-detail *ngIf="showMenuItems"
          class="detail-menu-items" 
          [showOverlay]="false" 
          [showTitle]="false" >
          <div detail-content class="row menu-items">
            <div class="col-12">

              <div class="row no-gutters">
                <div class="col-12 mb-2">

                  <div class="input-group">
                    <input type="text" class="form-control" name="search" id="search" (keyup)="filterMenuItems($event)">
                    <div class="input-group-append">
                      <button>
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>

                  <div class="row no-gutters" *ngIf="menuItemsFiltered.length > 0">
                    <div class="col-12" *ngFor="let mg of menuItemsFiltered">
                      <span>{{mg.text}}</span>
                      <div class="row no-gutters">
                        <div class="col-md-2 col-sm-3 col-6" (click)="goToRoute(mi.route)" *ngFor="let mi of mg.children">
                          <div class="menu-item">
                            <span>{{mi.text}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row no-gutters mt-3" *ngIf="menuItemsFiltered.length == 0">
                    <span>No hay resultados</span>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </sco-detail>
      </div>

    </div>
  
  </div>
</div>

<sco-modal 
  [id]="'modal-theme'"
  [type]="constantsService.ScoModalTypeConstants.NO_BUTTONS" 
  [labelConfirm]="'Confirmar'"
  [labelClose]="'Cerrar'" 
  [width]="modalWith"
  [height]="modalHeight"
  [sizeUnity]="constantsService.ScoModalTypeConstants.SIZE_UNITY_PIXELS"
  (close)="closeModal($event)"
  (accept)="acceptModal($event)" >
  
    <div modal-title>Elige tu theme</div>
    <div modal-content>
      <sco-dropdown 
        [options]="themes"
        (selectItem)="changeTheme($event)" >

        <ng-template itemTemplate let-item="item">
          {{item.label}}
        </ng-template>

      </sco-dropdown>
    </div>
</sco-modal>