<div class="row">
  <div class="col-12">

    <div class="row mb-2" *ngIf="title && title.length > 0">
      <div class="col-12 text-center">
        <h1>{{title}}</h1>
      </div>
    </div>

    <sco-accordion *ngIf="showEamples" [title]="'Ejemplos'" [open]="true" >
      <ng-content select="[examples]" content-accordion></ng-content>
    </sco-accordion>

    <sco-accordion *ngIf="showCode" [title]="'Código'" [open]="true" >
      <ng-content select="[code]" content-accordion></ng-content>
    </sco-accordion>

    <sco-accordion *ngIf="showInputs" [title]="'Inputs'" [open]="true" >
      <ng-content select="[inputs]" content-accordion></ng-content>
    </sco-accordion>

    <sco-accordion *ngIf="showOutputs" [title]="'Outputs'" [open]="true" >
      <ng-content select="[outputs]" content-accordion></ng-content>
    </sco-accordion>

  </div>
</div>

<!-- ### EXAMPLE BASE CODE ###-->
<!--
<base-showcase>

  <div examples>
    <div class="row">
      <div class="col-12">

        <div class="row mt-1">
          <div class="col-12 title-sco">
            <span>Ejemplo 1: Estandar</span>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
          </div>
        </div>

      </div>
    </div>
  </div>

  <div code>
    <sco-tabs>
      <sco-tab-item title="HTLM">
        <pre><code class="language-markup" pCode ngNonBindable>
        </code></pre>
      </sco-tab-item>
    
      <sco-tab-item title="CSS">
        <pre><code class="language-css" pCode ngNonBindable>
        </code></pre>
      </sco-tab-item>
  
      <sco-tab-item title="TS">
        <pre><code class="language-typescript" pCode ngNonBindable>
        </code></pre>
      </sco-tab-item>
    </sco-tabs>
  </div>

  <div class="scrollable" inputs>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcción</th>
          <th>Tipo</th>
          <th>Valor por defecto</th>
          <th>Posibles valores</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="scrollable" outputs>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcción</th>
          <th>Valor devuelto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

</base-showcase>
-->