<div [ngClass]="{'sco-input': !inline, 'sco-input__flex': inline}">

  <div [ngClass]="{'sco-input__label': !inline, 'sco-input__label--si-inline': inline}" *ngIf="showLabel && label">
    <span class="sco-input__label--require" *ngIf="required">{{'(*) '}}</span><span class="sco-input__label--title">{{label}}</span>
  </div>

  <div class="input-group"> 
    <input 
      name="value" 
      class="form-control" 
      [(ngModel)]="value" 
      [readonly]="readonly" 
      [disabled]="disabled" 
      [type]="type"
      [placeholder]="placeholder" 
      (change)="onInputChange()"
      (keyup)="onInputKeyUp()">
    <div class="input-group-append" *ngIf="showIcon && icon">
      <button
        [ngClass]="{'cursor-default': !enabledIconClick}" 
        (click)="enabledIconClick && onIconClick()" >
        <i class="{{icon}}"></i>
      </button>
    </div>
  </div>

</div>