<div class="sco-login">
  <div class="row mt-3">
    <div class="col-12 mb-2 sco-login__title" *ngIf="title && title.length > 0">
      <span>{{title}}</span>
    </div>
    <div class="col-12" >
      <form [formGroup]="loginForm">

        <div class="row ml-1 mr-1">
          <div class="col-12">
            <sco-input
              formControlName="name"
              [label]="labelUser"
              [showLabel]="true"  
              [icon]="'fa fa-user'"
              [showIcon]="true" 
              [required]="true" >
            </sco-input>
            <span class="sco-form-error" *ngIf="loginForm.controls['name'].invalid">
              {{formErrorsService.getError('name', formErrors)}}
            </span>
          </div>
        </div>

        <div class="row mt-3 ml-1 mr-1">
          <div class="col-12">
            <sco-input
              formControlName="password"
              [label]="labelPassword"
              [showLabel]="true"
              [type]="showPassword ? constantsService.ScoInputTypeConstants.TEXT : constantsService.ScoInputTypeConstants.PASSWORD "
              [icon]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye' "
              [showIcon]="true" 
              [enabledIconClick]="true"
              [required]="true"
              (iconClick)="showHidePassowrd()" >
            </sco-input>
            <span class="sco-form-error" *ngIf="loginForm.controls['password'].invalid">
              {{formErrorsService.getError('password', formErrors)}}
            </span>
          </div>
        </div>

        <div class="row mt-3 ml-1 mr-1" *ngIf="showLabelPwdRecovery || showLabelUserRegister">
          <div [ngClass]="{
              'col-6': !verticalButtons,
              'text-left': !verticalButtons,
              'pl-0': !verticalButtons,

              'col-12': verticalButtons,
              'text-center': verticalButtons
            }"
          >
            <sco-button *ngIf="showLabelPwdRecovery"
              [mode]="constantsService.ScoButtonConstants.MODE_LINK"
              [text]="labelPwdRecovery"
              (action)="passwordRecovery()">
            </sco-button>
          </div>

          <div [ngClass]="{
            'col-6': !verticalButtons,
            'text-right': !verticalButtons,
            'pr-0': !verticalButtons,

            'col-12': verticalButtons,
            'text-center': verticalButtons,
            'mt-2': verticalButtons
          }"
        >
            <sco-button *ngIf="showLabelUserRegister"
              [mode]="constantsService.ScoButtonConstants.MODE_LINK"
              [text]="labelUserRegister"
              (action)="registerNewUser()">
            </sco-button>
          </div>
        </div>

        <div class="row mt-3 ml-1 mr-1 mb-3">
          <div [ngClass]="{
              'col-6': !verticalButtons,

              'col-12': verticalButtons,
              'text-center': verticalButtons,
              'pl-5': verticalButtons,
              'pr-5': verticalButtons
            }"
          >
            <sco-button
              [block]="verticalButtons"
              [mode]="constantsService.ScoButtonConstants.MODE_DEFAULT"
              [text]="labelCancel"
              (action)="cancelButton()">
            </sco-button>
          </div>
          <div [ngClass]="{
              'col-6': !verticalButtons,
              'text-right': !verticalButtons,

              'col-12': verticalButtons,
              'text-center': verticalButtons,
              'mt-3': verticalButtons,
              'pl-5': verticalButtons,
              'pr-5': verticalButtons
            }"
        >
            <sco-button
              [block]="verticalButtons"
              [mode]="constantsService.ScoButtonConstants.MODE_SAVE"
              [text]="labelConfirm"
              (action)="confirmButton()">
            </sco-button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>