<base-showcase>

  <div examples>
    <div class="row">
      <div class="col-12">

        <div class="row mt-1">
          <div class="col-12 title-sco">
            <span>Ejemplo 1: App</span>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <sco-app
              [headerFixed]="false"
              [translatePipe]="false"

              [logoPath]="'resources/img/sco-logo.png'"
              [logoWidth]="80"
              [logoHeight]="40"

              [menuItems]="menuItems"
              [menuBorderRadius]="true"

              [contentPadding]="20"
              [contentBackgroundColor]="undefined"
              
              [toastEnabled]="true"
              [toastOrientation]="constantsService.ScoToastConstants.ORIENTATION_TOP_RIGHT"
              [toastBlock]="false"

              [spinnerEnabled]="true"
              [spinnerEmbedded]="false"
              [spinnerImgPath]="'resources/img/spinner.gif'"
              
              (itemClick)="onClickMenuItem($event)">              
            </sco-app>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div code>
    <sco-tabs>
      <sco-tab-item title="HTML">
        <pre>
          <code class="language-markup" pCode ngNonBindable>
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-12&quot;&gt;

  &lt;div class=&quot;row mt-1&quot;&gt;
    &lt;div class=&quot;col-12 title-sco&quot;&gt;
    &lt;span&gt;Ejemplo 1: App&lt;/span&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-12&quot;&gt;
    &lt;sco-app
      [headerFixed]=&quot;false&quot;
      [translatePipe]=&quot;false&quot;

      [logoPath]=&quot;'resources/img/sco-logo.png'&quot;
      [logoWidth]=&quot;80&quot;
      [logoHeight]=&quot;40&quot;

      [menuItems]=&quot;menuItems&quot;
      [menuBorderRadius]=&quot;true&quot;

      [contentPadding]=&quot;20&quot;
      [contentBackgroundColor]=&quot;undefined&quot;
      
      [toastEnabled]=&quot;true&quot;
      [toastOrientation]=&quot;constantsService.ScoToastConstants.ORIENTATION_TOP_RIGHT&quot;
      [toastBlock]=&quot;false&quot;

      [spinnerEnabled]=&quot;true&quot;
      [spinnerEmbedded]=&quot;false&quot;
      [spinnerImgPath]=&quot;'resources/img/spinner.gif'&quot;
      
      (itemClick)=&quot;onClickMenuItem($event)&quot;&gt;              
    &lt;/sco-app&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;/div&gt;
&lt;/div&gt;
          </code>
        </pre>
      </sco-tab-item>
      <sco-tab-item title="CSS">
        <pre>
          <code class="language-css" pCode ngNonBindable>
          </code>
        </pre>
      </sco-tab-item>
      <sco-tab-item title="TS">
        <pre>
          <code class="language-typescript" pCode ngNonBindable>
import &#123; Component, OnInit, ViewEncapsulation &#125; from '&commat;angular/core';
import &#123; MenuItem &#125; from './../../../../projects/sco-angular-components/src/components/sco-menu/model/menu-item';
import &#123; ScoConstantsService &#125; from './../../../../projects/sco-angular-components/src/services/sco-constants.service';

export const EXAMPLE_MENU: MenuItem[] = [
  &#123;
    icon: "fa fa-caret-down",
    text: "Gest. usuarios",
    children: [
      &#123;
        text: "Usuarios",
        route: "users",
        icon: "fa fa-user"
      &#125;,
      &#123;
        text: "Roles",
        route: "roles",
        icon: "fa fa-user"
      &#125;,
      &#123;
        text: "Permisos",
        route: "permissions",
        icon: "fa fa-user"
      &#125;
    ]
  &#125;,
  &#123;
    icon: "fa fa-gear",
    text: "Opciones",
    route: "/options",
  &#125;,
  &#123;
    icon: "fa fa-sign-out",
    text: "Cerrar sesión",
    route: "/auth/logout",
  &#125;,
];

&commat;Component(&#123;
  selector: 'app-showcase-sco-app',
  templateUrl: './showcase-sco-app.component.html',
  styleUrls: ['./showcase-sco-app.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ShowcaseScoAppComponent implements OnInit &#123;

  public menuItems: MenuItem[];

  constructor(public readonly constantsService: ScoConstantsService) &#123; &#125;

  ngOnInit() &#123;
    this.menuItems = EXAMPLE_MENU;
  &#125;

  onClickMenuItem($event: MenuItem) &#123;

  &#125;

&#125;            
          </code>
        </pre>

      </sco-tab-item>
    </sco-tabs>
  </div>

  <div inputs>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Tipo</th>
          <th>Valor por defecto</th>
          <th>Posibles valores (constants)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>headerFixed</td>
          <td>Indicador para añadir a la clase header la propiedad fixed</td>
          <td>boolean</td>
          <td>false</td>
          <td></td>
        </tr>
        <tr>
          <td>translatePipe</td>
          <td>Indicador para utilizar el pipe de translate en los textos del componente</td>
          <td>boolean</td>
          <td>false</td>
          <td></td>
        </tr>
        <tr>
          <td>logoPath</td>
          <td>Path del logo a mostrar</td>
          <td>string</td>
          <td>'./../../../resources/img/sco-logo.png'</td>
          <td></td>
        </tr>
        <tr>
          <td>logoWidth</td>
          <td>Anchura del logo</td>
          <td>number</td>
          <td>80</td>
          <td></td>
        </tr>
        <tr>
          <td>logoHeight</td>
          <td>Altura del logo</td>
          <td>number</td>
          <td>40</td>
          <td></td>
        </tr>
        <tr>
          <td>maxMenuItems</td>
          <td>Máximo de elementos del menú, si se sobrepasa el límite se mostrara el menu mobil</td>
          <td>number</td>
          <td>6</td>
          <td></td>
        </tr>
        <tr>
          <td>menuItems</td>
          <td>Lista de elementos a mostrar en el menú</td>
          <td>MenuItem</td>
          <td>[]</td>
          <td></td>
        </tr>
        <tr>
          <td>menuBorderRadius</td>
          <td>Indicador que marca el tipo de borde del menú</td>
          <td>boolean</td>
          <td>true</td>
          <td></td>
        </tr>
        <tr>
          <td>contentPadding</td>
          <td>Padding del contenedor 'content'</td>
          <td>number</td>
          <td>20</td>
          <td></td>
        </tr>
        <tr>
          <td>contentBackgroundColor</td>
          <td>Color del contenedor 'content'</td>
          <td>string</td>
          <td>undefined</td>
          <td></td>
        </tr>
        <tr>
          <td>toastEnabled</td>
          <td>Indicador para habilitar los toast</td>
          <td>boolean</td>
          <td>true</td>
          <td></td>
        </tr>
        <tr>
          <td>toastOrientation</td>
          <td>Orientación por donde aparecerá el toast</td>
          <td>string</td>
          <td>'top-right'</td>
          <td>
            <ul>
              <li>ScoToastConstants.ORIENTATION_TOP_RIGHT</li>
              <li>ScoToastConstants.ORIENTATION_TOP_LEFT</li>
              <li>ScoToastConstants.ORIENTATION_BOTTOM_RIGHT</li>
              <li>ScoToastConstants.ORIENTATION_BOTTOM_LEFT</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>toastBlock</td>
          <td>Indicador para mostrar el toast expandido en modo bloque</td>
          <td>boolean</td>
          <td>false</td>
          <td></td>
        </tr>

        <tr>
          <td>spinnerEnabled</td>
          <td>Indicador para habilitar el spinner</td>
          <td>boolean</td>
          <td>true</td>
          <td></td>
        </tr>
        <tr>
          <td>spinnerEmbedded</td>
          <td>Indicador que el spinner contenga la clase embedded</td>
          <td>boolean</td>
          <td>false</td>
          <td></td>
        </tr>
        <tr>
          <td>spinnerImgPath</td>
          <td>Path de la imagen a mostrar en el spinner</td>
          <td>string</td>
          <td>'./../../../resources/img/spinner.gif'</td>
          <td></td>
        </tr>

        <tr>
          <td>menuMobileTransparent</td>
          <td>Indicador para modificar el background del botón del menu mobil</td>
          <td>boolean</td>
          <td>true</td>
          <td></td>
        </tr>
        <tr>
          <td>menuMobileIcon</td>
          <td>Clase de Font Awesome para proveer el icono del botón del menu mobil</td>
          <td>string</td>
          <td>'fa fa-bars'</td>
          <td></td>
        </tr>
        <tr>
          <td>menuMobileColorRevert</td>
          <td>Indicador para revertir el color del botón del menu mobil (#FFF)</td>
          <td>boolean</td>
          <td>true</td>
          <td></td>
        </tr>
        <tr>
          <td>menuMobileShowIcons</td>
          <td>Indicador para mostrar los iconos de los elementos del menú mobil</td>
          <td>boolean</td>
          <td>true</td>
          <td></td>
        </tr>
        <tr>
          <td>menuMobileHeaderMargin</td>
          <td>Margen superior de la cabecera del menú mobil</td>
          <td>number</td>
          <td>60</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div outputs>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Valor devuelto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>itemClick</td>
          <td>Evento que devuelve el componente al seleccionar un elemento del menú</td>
          <td>MenuItem</td>
        </tr>
      </tbody>
    </table>
  </div>

</base-showcase>