<base-showcase>

  <div examples>
    <div class="row">
      <div class="col-12">

        <!-- 1 -->
        <div class="row mt-1">
          <div class="col-12 title-sco">
              <span>Ejemplo 1: Abierto desde el principio</span>
          </div>
        </div>

        <div class="row">
            <div class="col-12">
              <sco-accordion
                [title]="'Accordion 1'" 
                [open]="true" 
                (clickOpen)="openAaccordionEx1($event)" >

                <div content-accordion>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quas a sequi cupiditate minus vitae pariatur dolorem accusantium inventore quibusdam labore suscipit, eligendi dolore necessitatibus quidem nisi quod vero id!
                  Ipsam nam quae voluptates incidunt et repellendus neque amet deleniti earum. Quia quae modi totam, deleniti delectus, hic aliquid ea voluptates nulla aut praesentium nostrum nemo ducimus qui, rerum explicabo?
                  Quidem, esse nihil quia temporibus sint quas quisquam provident iusto. Temporibus aspernatur earum similique quod, repellat optio assumenda excepturi reiciendis eveniet ab, nihil commodi, consequuntur eius blanditiis qui hic. Sint!
                  Distinctio velit suscipit ipsum molestiae? Laudantium veniam, accusamus autem optio consequatur explicabo cumque doloremque, possimus non provident officiis consequuntur, ut vero. Doloribus, dolore magni? Atque iste deserunt dolores libero aut!
                  Pariatur earum incidunt amet ab, illum dolor voluptates ullam molestiae aperiam, nisi vero natus necessitatibus repellendus ipsa autem perspiciatis officiis, error quibusdam assumenda eveniet? Dolores consequatur officia eos quos rerum.
                </div>
              </sco-accordion>
            </div>
        </div>

        <!-- 2 -->
        <div class="row mt-3">
          <div class="col-12 title-sco">
              <span>Ejemplo 2: Estandar</span>
          </div>
        </div>

        <div class="row">
            <div class="col-12">
              <sco-accordion 
                [title]="'Accordion 2'" 
                (clickOpen)="openAaccordionEx2($event)" >
                
                <div content-accordion>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quas a sequi cupiditate minus vitae pariatur dolorem accusantium inventore quibusdam labore suscipit, eligendi dolore necessitatibus quidem nisi quod vero id!
                  Ipsam nam quae voluptates incidunt et repellendus neque amet deleniti earum. Quia quae modi totam, deleniti delectus, hic aliquid ea voluptates nulla aut praesentium nostrum nemo ducimus qui, rerum explicabo?
                  Quidem, esse nihil quia temporibus sint quas quisquam provident iusto. Temporibus aspernatur earum similique quod, repellat optio assumenda excepturi reiciendis eveniet ab, nihil commodi, consequuntur eius blanditiis qui hic. Sint!
                  Distinctio velit suscipit ipsum molestiae? Laudantium veniam, accusamus autem optio consequatur explicabo cumque doloremque, possimus non provident officiis consequuntur, ut vero. Doloribus, dolore magni? Atque iste deserunt dolores libero aut!
                  Pariatur earum incidunt amet ab, illum dolor voluptates ullam molestiae aperiam, nisi vero natus necessitatibus repellendus ipsa autem perspiciatis officiis, error quibusdam assumenda eveniet? Dolores consequatur officia eos quos rerum.
                </div>
              </sco-accordion>
            </div>
        </div>

      </div>
    </div>
  </div>

  <div code>
    <sco-tabs>
      <sco-tab-item tittle="HTLM">
          <pre><code class="language-markup" pCode ngNonBindable>
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-12&quot;&gt;

    &lt;!-- 1 --&gt;
    &lt;div class=&quot;row mt-1&quot;&gt;
      &lt;div class=&quot;col-12 title-sco&quot;&gt;
          &lt;span&gt;Ejemplo 1: Abierto desde el principio&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-12&quot;&gt;
          &lt;sco-accordion 
            [title]=&quot;'Accordion 1'&quot; 
            [open]=&quot;true&quot; 
            (clickOpen)=&quot;openAaccordionEx1($event)&quot; &gt;

            &lt;div content-accordion&gt;
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quas a sequi cupiditate minus vitae pariatur dolorem accusantium inventore quibusdam labore suscipit, eligendi dolore necessitatibus quidem nisi quod vero id!
              Ipsam nam quae voluptates incidunt et repellendus neque amet deleniti earum. Quia quae modi totam, deleniti delectus, hic aliquid ea voluptates nulla aut praesentium nostrum nemo ducimus qui, rerum explicabo?
              Quidem, esse nihil quia temporibus sint quas quisquam provident iusto. Temporibus aspernatur earum similique quod, repellat optio assumenda excepturi reiciendis eveniet ab, nihil commodi, consequuntur eius blanditiis qui hic. Sint!
              Distinctio velit suscipit ipsum molestiae? Laudantium veniam, accusamus autem optio consequatur explicabo cumque doloremque, possimus non provident officiis consequuntur, ut vero. Doloribus, dolore magni? Atque iste deserunt dolores libero aut!
              Pariatur earum incidunt amet ab, illum dolor voluptates ullam molestiae aperiam, nisi vero natus necessitatibus repellendus ipsa autem perspiciatis officiis, error quibusdam assumenda eveniet? Dolores consequatur officia eos quos rerum.
            &lt;/div&gt;
          &lt;/sco-accordion&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;!-- 2 --&gt;
    &lt;div class=&quot;row mt-3&quot;&gt;
      &lt;div class=&quot;col-12 title-sco&quot;&gt;
          &lt;span&gt;Ejemplo 2: Estandar&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-12&quot;&gt;
          &lt;sco-accordion 
            [title]=&quot;'Accordion 2'&quot; 
            (clickOpen)=&quot;openAaccordionEx2($event)&quot; &gt;
            
            &lt;div content-accordion&gt;
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quas a sequi cupiditate minus vitae pariatur dolorem accusantium inventore quibusdam labore suscipit, eligendi dolore necessitatibus quidem nisi quod vero id!
              Ipsam nam quae voluptates incidunt et repellendus neque amet deleniti earum. Quia quae modi totam, deleniti delectus, hic aliquid ea voluptates nulla aut praesentium nostrum nemo ducimus qui, rerum explicabo?
              Quidem, esse nihil quia temporibus sint quas quisquam provident iusto. Temporibus aspernatur earum similique quod, repellat optio assumenda excepturi reiciendis eveniet ab, nihil commodi, consequuntur eius blanditiis qui hic. Sint!
              Distinctio velit suscipit ipsum molestiae? Laudantium veniam, accusamus autem optio consequatur explicabo cumque doloremque, possimus non provident officiis consequuntur, ut vero. Doloribus, dolore magni? Atque iste deserunt dolores libero aut!
              Pariatur earum incidunt amet ab, illum dolor voluptates ullam molestiae aperiam, nisi vero natus necessitatibus repellendus ipsa autem perspiciatis officiis, error quibusdam assumenda eveniet? Dolores consequatur officia eos quos rerum.
            &lt;/div&gt;
          &lt;/sco-accordion&gt;
        &lt;/div&gt;
    &lt;/div&gt;

  &lt;/div&gt;
&lt;/div&gt;
          </code></pre>
      </sco-tab-item>
    
      <sco-tab-item tittle="CSS">
          <pre><code class="language-css" pCode ngNonBindable>
          </code></pre>
      </sco-tab-item>
  
      <sco-tab-item tittle="TS">
          <pre><code class="language-typescript" pCode ngNonBindable>
import &#123; ScoToastService, ScoCacheService &#125; from 'sco-angular-components';
import &#123; Component &#125; from '@angular/core';

@Component(&#123;
  selector: 'app-showcase-sco-accordion',
  templateUrl: './showcase-sco-accordion.component.html',
  styleUrls: ['./showcase-sco-accordion.component.scss']
&#125;)

export class ShowcaseScoAccordionComponent &#123;

  constructor(
    private cacheService: ScoCacheService,
    private toastService: ScoToastService
  ) &#123; 
    this.cacheService.setElement("title", "Accordion");
  &#125;

  openAaccordionEx1($event) &#123;
    if($event) &#123;
      this.toastService.addSuccessMessage("Éxito", "Abriendo el Accordion 1")
    &#125; else &#123;
      this.toastService.addSuccessMessage("Éxito", "Cerrando el Accordion 1")
    &#125;
  &#125;

  openAaccordionEx2($event) &#123;
    if($event) &#123;
      this.toastService.addSuccessMessage("Éxito", "Abriendo el Accordion 2")
    &#125; else &#123;
      this.toastService.addSuccessMessage("Éxito", "Cerrando el Accordion 2")
    &#125;
  &#125;
&#125;
          </code></pre>
      </sco-tab-item>
    </sco-tabs>
  </div>

  <div class="scrollable" inputs>
    <table class="table">
      <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            <th>Descripcción</th>
            <th>Tipo</th>
            <th>Valor por defecto</th>
            <th>Posibles valores</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>title</td>
            <td>Título del acordeon</td>
            <td>string</td>
            <td>undefined</td>
            <td></td>
        </tr>
        <tr>
            <td>open</td>
            <td>Indica si abrir el acordeon</td>
            <td>boolean</td>
            <td>false</td>
            <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="scrollable" outputs>
    <table class="table">
      <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            <th>Descripcción</th>
            <th>Valor devuelto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>clickOpen</td>
            <td>Evento al cerrar o abrir el acordeon</td>
            <td>boolean</td>
        </tr>
      </tbody>
    </table>
  </div>

</base-showcase>