.sco-tabs {

    &__tittle {
        text-align: center;
        font-size: 18px;
        font-family: 'sco medium';
        padding: 15px;
        display: inline-block;
        cursor: pointer;

        &--selected {
            border-bottom-width: 3px;
            border-bottom-style: solid;
        }
    }

    &__content {
        padding: 10px;
        font-family: 'sco regular';
    }
}