<base-showcase [showInputs]="false" [showOutputs]="false">
  <div examples>
    <div class="row">
      <div class="col-12">

        <div class="row mt-1">
          <div class="col-12 title-sco">
              <span>Ejemplo 1: Validación de formulario</span>
          </div>
        </div>

        <div class="row">
            <div class="col-12 answer-sco">
              <form [formGroup]="validationForm">
                <div class="row mt-2">
                  <div class="col-12">
                    <sco-input
                      formControlName="name"
                      [label]="'Nombre'"
                      [showLabel]="true"
                      [type]="constantsService.ScoInputTypeConstants.TEXT"
                      [showIcon]="true" 
                      [enabledIconClick]="true"
                      [required]="true">
                    </sco-input>
                    <span class="sco-form-error" *ngIf="validationForm.controls['name'].invalid">
                      {{formErrorsService.getError('name', formErrors)}}
                    </span>
                  </div>
                </div>

                <div class="row mt-2">
                  <div class="col-12">
                    <sco-input
                      formControlName="secondName"
                      [label]="'Apellidos'"
                      [showLabel]="true"
                      [type]="constantsService.ScoInputTypeConstants.TEXT"
                      [showIcon]="true" 
                      [enabledIconClick]="true"
                      [required]="true">
                    </sco-input>
                    <span class="sco-form-error" *ngIf="validationForm.controls['secondName'].invalid">
                      {{formErrors | scoFormError : 'secondName'}}
                    </span>
                  </div>
                </div>

                <div class="row mt-2">
                  <div class="col-12">
                    <sco-input
                      formControlName="address"
                      [label]="'Dirección'"
                      [showLabel]="true"
                      [type]="constantsService.ScoInputTypeConstants.TEXT"
                      [showIcon]="true" 
                      [enabledIconClick]="true"
                      [required]="true">
                    </sco-input>
                    <span class="sco-form-error" *ngIf="validationForm.controls['address'].invalid">
                      {{formErrors | scoFormError : 'address'}}
                    </span>
                  </div>
                </div>

                <div class="row mt-2">
                  <div class="col-12 text-right">
                    <sco-button class="mr-2"
                      [mode]="constantsService.ScoButtonConstants.MODE_DANGER"
                      [text]="'Cancelar'"
                      (action)="onClickCancelForm()">
                    </sco-button>
                    <sco-button
                      [mode]="constantsService.ScoButtonConstants.MODE_SAVE"
                      [text]="'Validar'"
                      (action)="onClickSubmitForm()">
                    </sco-button>
                  </div>
                </div>
              </form>
            </div>
        </div>

      </div>
    </div>
  </div>

  <div code>
    <sco-tabs>
      <sco-tab-item title="HTLM">
          <pre><code class="language-markup" pCode ngNonBindable>
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-12&quot;&gt;

  &lt;div class=&quot;row mt-1&quot;&gt;
    &lt;div class=&quot;col-12 title-sco&quot;&gt;
      &lt;span&gt;Ejemplo 1: Validación de formulario&lt;/span&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-12 answer-sco&quot;&gt;
      &lt;form [formGroup]=&quot;validationForm&quot;&gt;
      &lt;div class=&quot;row mt-2&quot;&gt;
        &lt;div class=&quot;col-12&quot;&gt;
        &lt;sco-input
          formControlName=&quot;name&quot;
          [label]=&quot;'Nombre'&quot;
          [showLabel]=&quot;true&quot;
          [type]=&quot;constantsService.ScoInputTypeConstants.TEXT&quot;
          [showIcon]=&quot;true&quot; 
          [enabledIconClick]=&quot;true&quot;
          [required]=&quot;true&quot;&gt;
        &lt;/sco-input&gt;
        &lt;span class=&quot;sco-form-error&quot; *ngIf=&quot;validationForm.controls['name'].invalid&quot;&gt;
          {{formErrorsService.getError('name', formErrors)}}
        &lt;/span&gt;
        &lt;/div&gt;
      &lt;/div&gt;

      &lt;div class=&quot;row mt-2&quot;&gt;
        &lt;div class=&quot;col-12&quot;&gt;
        &lt;sco-input
          formControlName=&quot;secondName&quot;
          [label]=&quot;'Apellidos'&quot;
          [showLabel]=&quot;true&quot;
          [type]=&quot;constantsService.ScoInputTypeConstants.TEXT&quot;
          [showIcon]=&quot;true&quot; 
          [enabledIconClick]=&quot;true&quot;
          [required]=&quot;true&quot;&gt;
        &lt;/sco-input&gt;
        &lt;span class=&quot;sco-form-error&quot; *ngIf=&quot;validationForm.controls['secondName'].invalid&quot;&gt;
          {{formErrors | scoFormError : 'secondName'}}
        &lt;/span&gt;
        &lt;/div&gt;
      &lt;/div&gt;

      &lt;div class=&quot;row mt-2&quot;&gt;
        &lt;div class=&quot;col-12&quot;&gt;
        &lt;sco-input
          formControlName=&quot;address&quot;
          [label]=&quot;'Dirección'&quot;
          [showLabel]=&quot;true&quot;
          [type]=&quot;constantsService.ScoInputTypeConstants.TEXT&quot;
          [showIcon]=&quot;true&quot; 
          [enabledIconClick]=&quot;true&quot;
          [required]=&quot;true&quot;&gt;
        &lt;/sco-input&gt;
        &lt;span class=&quot;sco-form-error&quot; *ngIf=&quot;validationForm.controls['address'].invalid&quot;&gt;
          {{formErrors | scoFormError : 'address'}}
        &lt;/span&gt;
        &lt;/div&gt;
      &lt;/div&gt;

      &lt;div class=&quot;row mt-2&quot;&gt;
        &lt;div class=&quot;col-12 text-right&quot;&gt;
        &lt;sco-button class=&quot;mr-2&quot;
          [mode]=&quot;constantsService.ScoButtonConstants.MODE_DANGER&quot;
          [text]=&quot;'Cancelar'&quot;
          (action)=&quot;onClickCancelForm()&quot;&gt;
        &lt;/sco-button&gt;
        &lt;sco-button
          [mode]=&quot;constantsService.ScoButtonConstants.MODE_SAVE&quot;
          [text]=&quot;'Validar'&quot;
          (action)=&quot;onClickSubmitForm()&quot;&gt;
        &lt;/sco-button&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;/form&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;/div&gt;
&lt;/div&gt;
          </code></pre>
      </sco-tab-item>
    
      <sco-tab-item title="CSS">
          <pre><code class="language-css" pCode ngNonBindable>
          </code></pre>
      </sco-tab-item>
  
      <sco-tab-item title="TS">
          <pre><code class="language-typescript" pCode ngNonBindable>
import &#123; ScoConstantsService &#125; from './../../../../projects/sco-angular-components/src/services/sco-constants.service';
import &#123; ScoToastService &#125; from './../../../../projects/sco-angular-components/src/components/sco-toast/sco-toast.service';
import &#123; ScoFormErrorsService &#125; from './../../../../projects/sco-angular-components/src/services/sco-form-errors/sco-form-errors.service';
import &#123; ScoFormError &#125; from './../../../../projects/sco-angular-components/src/services/sco-form-errors/sco-form-error.model';
import &#123; Component, OnInit &#125; from '&commat;angular/core';
import &#123; FormControl, FormGroup, Validators &#125; from '&commat;angular/forms';

export class FormValidationClass &#123;
  name: string;
  secondName: string;
  address: string;
&#125;

&commat;Component(&#123;
  selector: 'app-showcase-sco-form-errors',
  templateUrl: './showcase-sco-form-errors.component.html',
  styleUrls: ['./showcase-sco-form-errors.component.scss']
&#125;)
export class ShowcaseScoFormErrorsComponent implements OnInit &#123;

  public validationForm: FormGroup;
  public formErrors: ScoFormError[];

  constructor(
    public readonly formErrorsService: ScoFormErrorsService,
    public readonly toastService: ScoToastService,
    public readonly constantsService: ScoConstantsService,
  ) &#123; &#125;

  ngOnInit() &#123;
    this.validationForm = new FormGroup(&#123;
      name: new FormControl('', [Validators.required]),
      secondName: new FormControl('', [Validators.required]),
      address: new FormControl('', [Validators.required]),
    &#125;);

    this.formErrors = [];
  &#125;

  onClickSubmitForm() &#123;
    const formValidationClass: FormValidationClass = this.validationForm.value;

    this.validateFormValues(formValidationClass);
    if (this.formErrors && this.formErrors.length > 0) &#123;
      return;
    &#125;

    this.toastService.addSuccessMessage('Éxito', 'Formulario validado correctamente: ' + JSON.stringify(formValidationClass));
  &#125;

  onClickCancelForm() &#123;
    this.validationForm = this.formErrorsService.cleanErrors(this.validationForm);
  &#125;

  private validateFormValues(formValidationClass: FormValidationClass) &#123;
    this.formErrors = [];

    if (!formValidationClass.name) &#123;
      this.formErrors.push(&#123; 
        formControlName: 'name', 
        error: 'Nombre no reportado',
      &#125;);
    &#125;

    if (!formValidationClass.secondName) &#123;
      this.formErrors.push(&#123; 
        formControlName: 'secondName', 
        error: 'Apellidos no reportados',
      &#125;);
    &#125;

    if (!formValidationClass.address) &#123;
      this.formErrors.push(&#123; 
        formControlName: 'address', 
        error: 'Dirección no reportada',
      &#125;);
    &#125;

    this.validationForm = this.formErrorsService.setErrors(this.validationForm, this.formErrors);
  &#125;
&#125;            
          </code></pre>
      </sco-tab-item>
    </sco-tabs>
  </div>

  <div class="scrollable" inputs>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcción</th>
          <th>Tipo</th>
          <th>Valor por defecto</th>
          <th>Posibles valores</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="scrollable" outputs>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcción</th>
          <th>Valor devuelto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

</base-showcase>