<div class="row">
  <div class="col-12">

    <!-- 1 -->
    <div class="row">
      <div class="col-12 title-sco">
        <span>¿Qué es la biblioteca de compoonentes SCO Angular Components Library?</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12 answer-sco">
        <span>Es un conjunto de componentes, servicios, pipes y directivas reutilizables para tus proyectos.</span>
      </div>
    </div>

    <!-- 2 -->
    <div class="row mt-4">
      <div class="col-12 title-sco">
        <span>¿Como instalar la biblioteca SCO Angular Components Library?</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12 answer-sco">
        <span>Para instalar la biblioteca se debe ejecutar el siguiente comando: </span>
        <pre><code class="language-markup" ngNobindable pCode>
  npm i sco-angular-components
        </code></pre>
      </div>
    </div>

    <!-- 3 -->
    <div class="row mt-4">
      <div class="col-12 title-sco">
        <span>¿Que debemos añadir en el fichero Angular.json?</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12 answer-sco">
        <span>Añadiremos lo siguiente en assets: </span>
        <pre><code class="language-markup" ngNobindable pCode>
  &#123;&quot;glob&quot;: &quot;**/*&quot;, &quot;input&quot;: &quot;node_modules/sco-angular-components/resources/img&quot;, &quot;output&quot;: &quot;resources/img/&quot;&#125;
        </code></pre>
      </div>
    </div>

    <div class="row">
      <div class="col-12 answer-sco">
        <span>Añadiremos lo siguiente en styles: </span>
        <pre><code class="language-markup" ngNobindable pCode>
  "node_modules/bootstrap/dist/css/bootstrap.min.css",
  "node_modules/font-awesome/css/font-awesome.min.css",
  "node_modules/sco-angular-components/resources/scss/sco-styles.scss",
  "node_modules/sco-angular-components/resources/scss/font.scss",
  "node_modules/sco-angular-components/resources/themes/theme-default.scss",
  "node_modules/sco-angular-components/resources/themes/theme-dark.scss",
  "node_modules/sco-angular-components/resources/themes/theme-blue.scss",
  "node_modules/primeng/resources/themes/lara-light-blue/theme.css",
  "node_modules/primeng/resources/primeng.min.css"
        </code></pre>
      </div>
    </div>

    <!-- 4 -->
    <div class="row mt-4">
      <div class="col-12 title-sco">
        <span>¿Que debemos añadir en el fichero App.module?</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12 answer-sco">
        <span>Añadiremos lo siguiente en el App.module: </span>
        <pre><code class="language-typescript" ngNobindable pCode>
  import &#123; ScoComponentsLibModule &#125; from 'sco-angular-components';
  import &#123; BrowserAnimationsModule &#125; from '@angular/platform-browser/animations';
  @NgModule(&#123;
    imports: &#123;
      BrowserAnimationsModule,
      ScoComponentsLibModule
    &#125;,
    bootstrap: &#123;AppComponent&#125;
  &#125;)
  
  export class AppModule &#123; &#125;
        </code></pre>
      </div>
    </div>

    <!-- 5 -->
    <div class="row mt-4">
      <div class="col-12 title-sco">
        <span>Ficheros App Component</span>
      </div>  
    </div>

    <div class="row">
      <div class="col-12">
        <sco-accordion 
          [title]="'App Component'" 
          [open]="false"
        >

          <div content-accordion>
            <base-showcase [showEamples]="false" [showInputs]="false" [showOutputs]="false" [showCode]="true">
              <div code>
                <sco-tabs>
                  <sco-tab-item tittle="HTLM">
                    <pre><code class="language-markup" pCode ngNonBindable>
&lt;div class=&quot;container-fluid vh-100 container-overflow&quot; [ngClass]=&quot;themeService.theme&quot; scoResolution &gt;

&lt;div class=&quot;row theme-header&quot; 
  [ngClass]=&quot;&#123;
    'theme-header--showCacheTitle': navbarOptions.showCacheTitle,
    'theme-header--not-showCacheTitle': !navbarOptions.showCacheTitle
  &#125;&quot;
&gt;
  &lt;div class=&quot;col-12 p-0&quot;&gt;
    &lt;div class=&quot;row theme-header__logo-container&quot; *ngIf=&quot;navbarOptions.showBusinessText&quot;&gt;
      &lt;div class=&quot;col-12 text-right&quot;&gt;
        &lt;a class=&quot;theme-header__logo-container--logo-text&quot; href=&quot;#&quot;&gt;&#123;&#123;'SCO ' + ('label.general.sco.company' | scoTranslate) &#125;&#125;&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;row&quot; *ngIf=&quot;navbarOptions.showCacheTitle&quot;&gt;
      &lt;div class=&quot;col-12 theme-header__cache-container&quot;&gt;
        &lt;span class=&quot;theme-header__cache-container--cache-title&quot;&gt;
          &#123;&#123;(cacheService.getElement('title') ? cacheService.getElement('title') : '&nbsp;')&#125;&#125;
        &lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;row&quot; *ngIf=&quot;navbarOptions.showMenu&quot;&gt;
      &lt;div class=&quot;col-12 theme-header__menu-container&quot;
        *ngIf=&quot;(
        navbarOptions.showMenu &&
        navbarOptions.showLinealMenu &&
        resolutionService.size == constantsService.ScoResolutionConstants.WEB &&
        cacheService.getElement('menuItems').length &lt;= 7
        )&quot;
        &gt;
        &lt;ul class=&quot;position-relative theme-header__menu&quot; 
          *ngFor=&quot;let item of cacheService.getElement('menuItems'); let i = index&quot; (mouseleave)=&quot;onLeftMenu()&quot;&gt;
          &lt;li&gt;
            &lt;div class=&quot;btn theme-header__menu--menu-item&quot; 
              [ngClass]=&quot;&#123;
              'theme-header__menu--menu-item--sub-item-hover': activeHover && subMenuItems.length &gt; 0 && selectedSubTitle == item.text,
              'theme-header__menu--menu-item--first-only1': i == 0 && cacheService.getElement('menuItems').length == 1 && subMenuItems.length == 0,
              'theme-header__menu--menu-item--first-only1-hover': i == 0 && subMenuItems.length &gt; 0 && selectedSubTitle == item.text && cacheService.getElement('menuItems').length == 1,
              'theme-header__menu--menu-item--first': i == 0 && cacheService.getElement('menuItems').length &gt; 1,
              'theme-header__menu--menu-item--first-hover': i == 0 && subMenuItems.length &gt; 0 && selectedSubTitle == item.text && cacheService.getElement('menuItems').length &gt; 1,
              'theme-header__menu--menu-item--mid': i &gt; 0 && i &lt; (cacheService.getElement('menuItems').length - 1),
              'theme-header__menu--menu-item--last': i == (cacheService.getElement('menuItems').length - 1) && cacheService.getElement('menuItems').length &gt; 1,
              'theme-header__menu--menu-item--last-hover': i == (cacheService.getElement('menuItems').length - 1) && subMenuItems.length &gt; 0 && selectedSubTitle == item.text
              &#125;&quot;
              (click)=&quot;!item.children && onMenuItemClick(item)&quot; (mouseenter)=&quot;onMenuItemHover(item)&quot; &gt;
              &lt;span&gt;&#123;&#123;translateService.getTranslate(item.text)&#125;&#125;&lt;/span&gt;
              &lt;i *ngIf=&quot;item.children&quot; class=&quot;fa fa-caret-down menu-item-padding&quot;&gt;&lt;/i&gt;
            &lt;/div&gt;
            
            &lt;div class=&quot;d-block position-absolute theme-header__sub-menu&quot;
              *ngIf=&quot;subMenuItems.length &gt; 0 && selectedSubTitle == item.text&quot; 
              scoClickOutside [avoidFirstTime]=&quot;false&quot; (clickOutSide)=&quot;onLeftMenu()&quot; &gt;
              &lt;ng-container *ngFor=&quot;let subItem of subMenuItems; let i = index&quot; &gt;
                &lt;div class=&quot;btn theme-header__sub-menu--sub-menu-item&quot;
                  [ngClass]=&quot;&#123;
                  'theme-header__sub-menu--sub-menu-item--last': i == subMenuItems.length - 1
                  &#125;&quot;
                  (click)=&quot;onMenuItemClick(subItem)&quot; &gt;
                  &lt;span&gt;&#123;&#123;translateService.getTranslate(subItem.text)&#125;&#125;&lt;/span&gt;
                &lt;/div&gt;
              &lt;/ng-container&gt;
            &lt;/div&gt;

          &lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
      &lt;div class=&quot;col-12 text-right theme-header__menu-container&quot;
        *ngIf=&quot;((
        (resolutionService.size != constantsService.ScoResolutionConstants.WEB) ||
        (resolutionService.size == constantsService.ScoResolutionConstants.WEB &&  cacheService.getElement('menuItems').length &gt; 7)
        ) ||
        !navbarOptions.showLinealMenu)&quot;
      &gt;
        &lt;button class=&quot;btn btn-sco hamburguer-btn btn-sm&quot; (click)=&quot;openBarsMenu()&quot;&gt;
          &lt;i class=&quot;fa fa-bars&quot; style=&quot;font-size: 20px; margin-top: 5px; font-weight: bold;&quot;&gt;&lt;/i&gt;
        &lt;/button&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;sco-detail *ngIf=&quot;showHamburguerMenu&quot; (close)=&quot;closeBarsMenu()&quot;
    [showTitle]=&quot;false&quot;
    [clickOutsideEnabled]=&quot;true&quot;
    [showOverlay]=&quot;false&quot;
    [forceCloseNow]=&quot;hamburgerMenuForceClose&quot; &gt;

    &lt;h1 detail-title&gt;&lt;/h1&gt;
    &lt;div detail-content class=&quot;theme-hamburguer-menu&quot;&gt;
      &lt;div class=&quot;row theme-hamburguer-menu__header&quot; (click)=&quot;onForceClose_Hamburguer()&quot;&gt;
        &lt;div class=&quot;col-12 theme-hamburguer-menu__header--content&quot;&gt;
          &lt;span class=&quot;theme-hamburguer-menu__header--content--text&quot;&gt;Menu&lt;/span&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;theme-hamburguer-menu__content&quot;&gt;
        &lt;div class=&quot;row&quot; *ngFor=&quot;let item of cacheService.getElement('menuItems'); let i = index&quot;
          (click)=&quot;onSelectHamburguerMenuAction(item)&quot; &gt;
          &lt;div class=&quot;col-12 theme-hamburguer-menu__content--item&quot;&gt;
            &lt;div class=&quot;row theme-hamburguer-menu__content--item--content&quot;&gt;
              &lt;div class=&quot;col-1 text-center&quot;&gt;
                &lt;i class=&quot;&#123;&#123;item.icon&#125;&#125; theme-hamburguer-menu__content--item--content--icon&quot;&gt;&lt;/i&gt;
              &lt;/div&gt;
              &lt;div class=&quot;col-11&quot;&gt;
                &lt;span class=&quot;theme-hamburguer-menu__content--item--content--text&quot;&gt;&#123;&#123; translateService.getTranslate(item.text) &#125;&#125;&lt;/span&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;

          &lt;div class=&quot;col-12 col-12 theme-hamburguer-menu__content--submenu&quot; *ngIf=&quot;selectedSubTitle == item.text && subMenuItems.length &gt; 0&quot;&gt;
            &lt;div class=&quot;row theme-hamburguer-menu__content--submenu--item&quot; *ngFor=&quot;let subItem of subMenuItems; let i = index&quot; (click)=&quot;onMenuItemClick_Hamburguer(subItem)&quot;&gt;
              &lt;div class=&quot;col-12 theme-hamburguer-menu__content--submenu--item--content&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                  &lt;div class=&quot;col-1&quot;&gt;&lt;/div&gt;
                  &lt;div class=&quot;col-1 text-center&quot;&gt;
                    &lt;i class=&quot;&#123;&#123;subItem.icon&#125;&#125; theme-hamburguer-menu__content--submenu--item--content--icon&quot;&gt;&lt;/i&gt;
                  &lt;/div&gt;
                  &lt;div class=&quot;col-10&quot;&gt;
                    &lt;span class=&quot;theme-hamburguer-menu__content--submenu--item--content--text&quot;&gt;&#123;&#123; translateService.getTranslate(subItem.text) &#125;&#125;&lt;/span&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;

        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;row vh-100&quot; (click)=&quot;onForceClose_Hamburguer()&quot;&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/sco-detail&gt;
&lt;/div&gt;

&lt;div class=&quot;row theme-content&quot;&gt;
  &lt;div class=&quot;col-12 p-2&quot;&gt;
    &lt;router-outlet content&gt;&lt;/router-outlet&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;/div&gt;

&lt;sco-toast [orientation]=&quot;constantsService.ScoToastConstants.ORIENTATION_TOP_RIGHT&quot; [block]=&quot;false&quot;&gt;&lt;/sco-toast&gt;

&lt;sco-spinner&gt;&lt;/sco-spinner&gt;
                    </code></pre>
                  </sco-tab-item>
                
                  <sco-tab-item tittle="CSS">
                    <pre><code class="language-css" pCode ngNonBindable>
.container-overflow &#123;
    overflow-y: auto; 
    overflow-x: hidden;
&#125;

.hamburguer-btn &#123;
    margin-right: 5px; 
    margin-top: 2.5px;
&#125;

.menu-item-padding &#123;
    padding-left: 7.5px;
&#125;
                    </code></pre>
                  </sco-tab-item>
              
                  <sco-tab-item tittle="TS">
                    <pre><code class="language-typescript" pCode ngNonBindable>
import &#123; ScoConstantsService, ScoThemeService, scoConfigService, ScoCacheService, scoTranslateService, ScoResolutionService &#125; from 'sco-angular-components';
import &#123; Component &#125; from '@angular/core';
import &#123; Title &#125; from '@angular/platform-browser';
import &#123; Router &#125; from '@angular/router';
import &#123; Store &#125; from '@ngxs/store';
import environment from 'src/environments/environment';
import &#123; NavbarOptions &#125; from './models/navbar';
import &#123; AuthState &#125; from './modules/auth/store/auth.state';
import &#123; menuLogout &#125; from './utils/menu-items';
import &#123; Util &#125; from './utils/util';

@Component(&#123;
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.scss']
&#125;)

export class AppComponent &#123;
  title = 'sco-frontend-base';

  /* Cache title & menu options */
  public navbarOptions: NavbarOptions;
  
  /* Submenu items (childrens) */
  public subMenuItems: any[];

  /* Linean menu options */
  public selectedSubTitle: string;
  public activeHover: boolean;

  /* Hamburguer menu options */
  public showHamburguerMenu: boolean;
  public hamburgerMenuForceClose: boolean;

  constructor(
    private readonly titleService: Title,
    public readonly cacheService: ScoCacheService,
    public readonly themeService: ScoThemeService,
    public readonly configService: scoConfigService,
    public readonly constantsService: ScoConstantsService,
    public readonly translateService: scoTranslateService,
    public readonly resolutionService: ScoResolutionService,
    private readonly router: Router,
    private readonly store: Store
  ) &#123;
    this.cacheService.setElement(&quot;title&quot;, ' ');
    this.themeService.changeTheme(this.configService.getData('theme'));

    this.initializeApp();

    const token = this.store.selectSnapshot(AuthState.token);
    const user = this.store.selectSnapshot(AuthState.loggedUser);

    if (user && token) &#123;
      const menu = Util.selectMenu(user);
      this.cacheService.setElement(&quot;menuItems&quot;, menu);
    &#125; else &#123;
      this.cacheService.setElement(&quot;menuItems&quot;, menuLogout);
    &#125;

    this.subMenuItems = [];
    this.selectedSubTitle = &quot;&quot;;
    this.activeHover = false;

    this.showHamburguerMenu = false;
    this.hamburgerMenuForceClose = false;

    this.navbarOptions = new NavbarOptions(
      this.configService.getData(&quot;navbarOptions.showCacheTitle&quot;),
      this.configService.getData(&quot;navbarOptions.showLinealMenu&quot;),
      this.configService.getData(&quot;navbarOptions.showMenu&quot;),
      this.configService.getData(&quot;navbarOptions.showBusinessText&quot;),
    );
  &#125;

  /* BLOCK MENU */
  onMenuItemClick(item: any) &#123;
    this.onLeftMenu();
    this.router.navigateByUrl(item.route);
  &#125;

  onMenuItemHover(item: any) &#123;
    this.onLeftMenu();
    this.activeHover = true;
    if (!item.children)
      return;

    item.children.forEach(item =&gt; &#123;
      let i: any = &#123;
        text: item.text,
        route: item.route,
        icon: item.icon
      &#125;

      this.subMenuItems.push(i);
    &#125;);

    if (this.subMenuItems.length &gt; 0) &#123;
      this.selectedSubTitle = item.text;
    &#125;
  &#125;

  onLeftMenu() &#123;
    this.selectedSubTitle = &quot;&quot;;
    this.subMenuItems = [];
    this.activeHover = false;
  &#125;

  /* HAMBURGUER MENU */
  onSelectHamburguerMenuAction(item: any) &#123;
    if (!item) &#123;
      return;
    &#125;

    if (!item.children) &#123;
      this.onMenuItemClick_Hamburguer(item);
      return;
    &#125;

    if (item.children && item.children.length &gt; 0) &#123;
      this.onMenuItemHover_Hamburger(item);
      return;
    &#125;
  &#125;
  
  openBarsMenu() &#123;
    this.selectedSubTitle = '';
    this.hamburgerMenuForceClose = false;
    this.showHamburguerMenu = true;
  &#125;

  closeBarsMenu() &#123;
    this.selectedSubTitle = '';
    this.hamburgerMenuForceClose = false;
    this.showHamburguerMenu = false;
  &#125;

  onMenuItemClick_Hamburguer(item: any) &#123;
    this.selectedSubTitle = '';
    this.subMenuItems = [];
    this.hamburgerMenuForceClose = true;
    this.router.navigateByUrl(item.route);
  &#125;

  onMenuItemHover_Hamburger(item: any) &#123;
    if (this.selectedSubTitle && this.selectedSubTitle == item.text) &#123;
      this.selectedSubTitle = &quot;&quot;;
      this.subMenuItems = [];
      return;
    &#125;

    this.selectedSubTitle = &quot;&quot;;
    this.subMenuItems = [];

    this.activeHover = true;
    if (!item.children)
      return;

    item.children.forEach(item =&gt; &#123;
      let i: any = &#123;
        text: item.text,
        route: item.route,
        icon: item.icon
      &#125;

      this.subMenuItems.push(i);
    &#125;);

    if (this.subMenuItems.length &gt; 0) &#123;
      this.selectedSubTitle = item.text;
    &#125;
  &#125;

  onForceClose_Hamburguer() &#123;
    this.hamburgerMenuForceClose = true;
  &#125;

  /* PRIVATE FUNCTIONS */
  private initializeApp(): void &#123;
    let css = &quot;&quot;;
    if (environment.production) &#123;
      css = &quot;color: fuchsia; font-size: 24px;&quot;;
    &#125;

    console.log(&quot;ℹ️ Environment:  %c&quot; + environment.name, css);
    console.log(&quot;ℹ️ App Version: &quot;);

    this.titleService.setTitle(this.configService.getData(&quot;title&quot;));
  &#125;
&#125;
                    </code></pre>
                  </sco-tab-item>
                </sco-tabs>
              </div>
            </base-showcase>
          </div>
        </sco-accordion>
      </div>
    </div>
  </div>
</div>