<div class="row">
  <div class="col-12">

    <!-- 1 -->
    <div class="row">
      <div class="col-12 title-sco">
        <span>¿Qué es la biblioteca de compoonentes SCO Angular Components Library?</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12 answer-sco">
        <span>Es un conjunto de componentes, servicios, pipes y directivas reutilizables para tus proyectos.</span>
      </div>
    </div>

    <!-- 2 -->
    <div class="row mt-4">
      <div class="col-12 title-sco">
        <span>¿Como instalar la biblioteca SCO Angular Components Library?</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12 answer-sco">
        <span>Para instalar la biblioteca se debe ejecutar el siguiente comando: </span>
        <pre><code class="language-markup" ngNobindable pCode>
  npm i sco-angular-components
        </code></pre>
      </div>
    </div>

    <!-- 3 -->
    <div class="row mt-4">
      <div class="col-12 title-sco">
        <span>¿Que debemos añadir en el fichero Angular.json?</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12 answer-sco">
        <span>Añadiremos lo siguiente en assets: </span>
        <pre><code class="language-markup" ngNobindable pCode>
  &#123;&quot;glob&quot;: &quot;**/*&quot;, &quot;input&quot;: &quot;node_modules/sco-angular-components/resources/img&quot;, &quot;output&quot;: &quot;resources/img/&quot;&#125;
        </code></pre>
      </div>
    </div>

    <div class="row">
      <div class="col-12 answer-sco">
        <span>Añadiremos lo siguiente en styles: </span>
        <pre><code class="language-markup" ngNobindable pCode>
  "node_modules/bootstrap/dist/css/bootstrap.min.css",
  "node_modules/font-awesome/css/font-awesome.min.css",
  "node_modules/sco-angular-components/resources/scss/sco-styles.scss",
  "node_modules/sco-angular-components/resources/scss/font.scss",
  "node_modules/sco-angular-components/resources/themes/theme-default.scss",
  "node_modules/sco-angular-components/resources/themes/theme-dark.scss",
  "node_modules/sco-angular-components/resources/themes/theme-blue.scss",
  "node_modules/primeng/resources/themes/lara-light-blue/theme.css",
  "node_modules/primeng/resources/primeng.min.css"
        </code></pre>
      </div>
    </div>

    <!-- 4 -->
    <div class="row mt-4">
      <div class="col-12 title-sco">
        <span>¿Que debemos añadir en el fichero App.module?</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12 answer-sco">
        <span>Añadiremos lo siguiente en el App.module: </span>
        <pre><code class="language-typescript" ngNobindable pCode>  
import &#123; ScoAngularComponentsModule &#125; from 'sco-angular-components';
import &#123; BrowserAnimationsModule &#125; from '@angular/platform-browser/animations';
  
&commat;NgModule(&#123;
  imports: &#123;
    BrowserAnimationsModule,
    ScoAngularComponentsModule
  &#125;,
  bootstrap: &#123; AppComponent &#125;
&#125;)
  
export class AppModule &#123; &#125;
        </code></pre>
      </div>
    </div>

  </div>
</div>