<div class="sco-file-uploader">

  <div class="row-no-gutters sco-file-uploader__container" 
   [ngClass]="{'sco-file-uploader__container--show-border': showBorder}"
   [style]="'border-color: ' + colorBorder + ' !important;'"
  >
    <div *ngIf="showLabel">
      <span class="sco-file-uploader__container--require" *ngIf="required">{{'(*) '}}</span><span class="sco-file-uploader__container--title">{{label}}</span>
    </div>

    <div class="col-12 sco-file-uploader__container__file" [ngClass]="{'sco-file-uploader__container__file--only-file': !base64}">
      <sco-button
        [text]="labelSelectBtn"
        [mode]="labelSelectBtn && labelSelectBtn.length > 0 
          ? constantsService.ScoButtonConstants.MODE_DEFAULT 
          : constantsService.ScoButtonConstants.MODE_ICON
        "
        [icon]="iconSelectBtn"
        (action)="file.click()">
      </sco-button>
      <input class="sco-file-uploader__container__file--input" type="file" id="file" (change)="onChangeFileInput($event.target.files)" #file hidden>
      <sco-button class="ml-2" *ngIf="showUploadBtn"
        [text]="labelUploadBtn"
        [mode]="constantsService.ScoButtonConstants.MODE_SAVE"
        [icon]="'fa fa-upload'"
        (action)="onClickUploadBtn()">
      </sco-button>
      <sco-button class="ml-2" *ngIf="showCleanBtn"
        [text]="labelCleanBtn"
        [mode]="constantsService.ScoButtonConstants.MODE_DANGER"
        [icon]="'fa fa-eraser'"
        (action)="onClickCleanBtn()">
      </sco-button>
    </div>

    <div class="col-12 col-12 sco-file-uploader__container__base64" *ngIf="base64">
      <div class="row sco-file-uploader__container__base64--header">
        <div class="col-6 sco-file-uploader__container__base64--header--title-container">
          <span class="sco-file-uploader__container__base64--header--title-container--title">{{labelBase64Title}}</span>
        </div>
        <div class="col-6 sco-file-uploader__container__base64--header--btns-container">
          <button class="btn btn-sco btn-sm sco-file-uploader__container__base64--header--btns-container--btn" (click)="onCLickCopyResultBtn(fileBase64, 'base64')">
            <i class="fa fa-copy sco-file-uploader__container__base64--header--btns-container--btn--icon"></i>
          </button>
        </div>
      </div>
      <textarea class="form-control" id="inputBase64" [rows]="base64TextRows" [(ngModel)]="fileBase64"></textarea>
    </div>

  </div>
  
</div>