<div class="row sco-modal" *ngIf="show">
  <div class="sco-modal--overlay sco-overlay">
    <div class="col-12 sco-modal--overlay__content" 
      [ngClass]="{
        'sco-modal--overlay__content--big': big, 
        'sco-modal--overlay__content--small': !big && !width && !height
      }"
    >
      <div class="card" 
        scoClickOutside [avoidFirstTime]="true" [clickOutsideEnabled]="!forceClose" (clickOutSide)="onClickOutside($event)"
        [ngStyle]="{
          width: !big && width ? width : null,
          height: !big && height ? height : null,
          top: !big && top ? top : null,
          left: !big && left ? left : null
        }"
      >
        <div class="card-title sco-modal--overlay__content--title">
          <ng-content select="[modal-title]"></ng-content>
        </div>

        <div class="card-body">
          <ng-content select="[modal-content]"></ng-content>
        </div>

        <div class="row sco-modal--overlay__content--card-buttons" *ngIf="type !== constantsService.ScoModalTypeConstants.NO_BUTTONS">
          <div class="col-12 text-right">
            <sco-button *ngIf="type === constantsService.ScoModalTypeConstants.CONFIRM"
              class="sco-modal--overlay__content--card-buttons__button"
              [mode]="constantsService.ScoButtonConstants.MODE_DANGER"
              [text]="labelClose"
              (action)="onClose($event)">
            </sco-button>
            <sco-button *ngIf="type === constantsService.ScoModalTypeConstants.CONFIRM || type === constantsService.ScoModalTypeConstants.INFO"
              class="sco-modal--overlay__content--card-buttons__button"
              [mode]="constantsService.ScoButtonConstants.MODE_DEFAULT"
              [text]="labelConfirm"
              (action)="onConfirm($event)">
            </sco-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>