<div class="row sco-pdf-viewer" [ngClass]="{'sco-pdf-viewer__absolute': positionAbsolute}">

    <div class="col-12 sco-pdf-viewer__header" 
      [ngClass]="{
        'sco-pdf-viewer__header--center': headerPosition == 'text-center',
        'sco-pdf-viewer__header--right': headerPosition == 'text-right'
      }"
    >
      <sco-button *ngIf="showComebackButton"
        [mode]="constantsService.ScoButtonConstants.MODE_ICON"
        [icon]="comebackButtonIcon"
        [transparent]="comebackButtonTransparent"
        (action)="showComebackButton && onClickComeBackBtn()">
      </sco-button>
      <sco-button *ngIf="showDownloadButton && _showPdfViewer.canDownload" [ngClass]="{'ml-1': showComebackButton}"
        [mode]="constantsService.ScoButtonConstants.MODE_ICON"
        [icon]="downloadButtonIcon"
        [transparent]="downloadButtonTransparent"
        (action)="showDownloadButton && onClickDownloadBtn()">
      </sco-button>
    </div>

    <div class="col-12 sco-pdf-viewer__content" *ngIf="pdfSrc">
      <pdf-viewer
        [zoom]="pdfZoom" 
        [src]="pdfSrc" 
        [page]="_showPdfViewer.startPage"
        [show-all]="_showPdfViewer.startPage != undefined && _showPdfViewer.startPage >= 1 ? false : true"
        [stick-to-page]="false"
        [render-text]="true"
        [original-size]="false"
        (after-load-complete)="callBackFn($event)">
      </pdf-viewer>
    </div>

    <div class="col-12 sco-pdf-viewer__footer" *ngIf="showZoomButtons || _showPdfViewer.showTotalPages">
      <div class="row">
        <div class="col-2">
          <div *ngIf="_showPdfViewer.showTotalPages && totalPages > 0 && showTotalPages && !totalPagesOnRightSide" 
            class="sco-pdf-viewer__footer--paginator-container sco-pdf-viewer__footer--paginator-container--left"
          >
            <span class="sco-pdf-viewer__footer--paginator-container--text">
              {{labelTotalPages}}: {{totalPages}}
            </span>
          </div>
        </div>
        <div class="col-8 text-center">
          <sco-button *ngIf="showZoomButtons" class="sco-pdf-viewer__footer--btn-left"
            [mode]="constantsService.ScoButtonConstants.MODE_ICON"
            [icon]="plusZoomButtonIcon"
            [transparent]="plusZoomButtonTransparent"
            (action)="showZoomButtons && zoomIn()">
          </sco-button>
          <sco-button *ngIf="showZoomButtons"
            [mode]="constantsService.ScoButtonConstants.MODE_ICON"
            [icon]="minusZoomButtonIcon"
            [transparent]="minusZoomButtonTransparent"
            (action)="showZoomButtons && zoomOut()">
          </sco-button>
          <sco-button *ngIf="showZoomButtons" class="sco-pdf-viewer__footer--btn-right"
            [mode]="constantsService.ScoButtonConstants.MODE_ICON"
            [icon]="restoreZoomButtonIcon"
            [transparent]="restoreZoomButtonTransparent"
            (action)="showZoomButtons && resetZoom()">
          </sco-button>
        </div>
        <div class="col-2">
          <div *ngIf="_showPdfViewer.showTotalPages && totalPages > 0 && showTotalPages && totalPagesOnRightSide" 
            class="sco-pdf-viewer__footer--paginator-container"
          >
            <span class="sco-pdf-viewer__footer--paginator-container--text">
              {{labelTotalPages}}: {{totalPages}}
            </span>
          </div>
        </div>
      </div>
    </div>
    
</div>