/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

html body {
    overflow: hidden;
}

.title-sco {
    font-size: 24px;
    font-family: 'sco bold';
}

.answer-sco {
    font-size: 20px;
    font-family: 'sco medium';
    margin-left: 1%;
}

.scrollable {
    overflow-x: auto;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul li {
    list-style: none;
}