<base-showcase>
  <div examples>
    <div class="row">
      <div class="col-12">

        <!-- 1 -->
        <div class="row mt-1">
          <div class="col-12 title-sco">
              <span>Ejemplo 1: Botón default</span>
          </div>
        </div>

        <div class="row">
          <div class="col-12 pl-4 pt-1">
            <sco-button
              [mode]="constantsService.ScoButtonConstants.MODE_DEFAULT"
              [text]="'texto'"
              (action)="click($event)">
            </sco-button>
          </div>
        </div>

        <!-- 2 -->
        <div class="row mt-3">
          <div class="col-12 title-sco">
              <span>Ejemplo 2: Modes</span>
          </div>
        </div>

        <div class="row">
          <div class="col-12 pl-4 pt-1">
            <sco-button
              [mode]="constantsService.ScoButtonConstants.MODE_SAVE"
              [text]="'save'"
              (action)="click($event)">
            </sco-button>
          </div>
          <div class="col-12 pl-4 pt-1">
            <sco-button
              [mode]="constantsService.ScoButtonConstants.MODE_DANGER"
              [text]="'danger'"
              (action)="click($event)">
            </sco-button>
          </div>
          <div class="col-12 pl-4 pt-1">
            <sco-button
              [mode]="constantsService.ScoButtonConstants.MODE_INFO"
              [text]="'info'"
              (action)="click($event)">
            </sco-button>
          </div>
          <div class="col-12 pl-4 pt-1">
            <sco-button
              [mode]="constantsService.ScoButtonConstants.MODE_WARNING"
              [text]="'warning'"
              (action)="click($event)">
            </sco-button>
          </div>
        </div>

        <!-- 3 -->
        <div class="row mt-3">
          <div class="col-12 title-sco">
              <span>Ejemplo 3: Botón disabled</span>
          </div>
        </div>

        <div class="row">
          <div class="col-12 pl-4 pt-1">
            <sco-button
              [mode]="constantsService.ScoButtonConstants.MODE_DEFAULT"
              [text]="'texto'"
              [disabled]="true"
              (action)="click($event)">
            </sco-button>
          </div>
        </div>

        <!-- 4 -->
        <div class="row mt-3">
          <div class="col-12 title-sco">
              <span>Ejemplo 4: Botón submit</span>
          </div>
        </div>

        <div class="row">
          <div class="col-12 pl-4 pt-1">
            <form (ngSubmit)="submitForm()">
              <sco-button
                [mode]="constantsService.ScoButtonConstants.MODE_DEFAULT"
                type="submit"
                [text]="'submit'">
              </sco-button>
            </form>
          </div>
        </div>

         <!-- 5 -->
         <div class="row mt-3">
          <div class="col-12 title-sco">
              <span>Ejemplo 5: Botón float (Abajo a la derecha)</span>
          </div>
        </div>

        <div class="row">
          <div class="col-12 pl-4 pt-1">
            <sco-button
              [floatButton]="true"
              [icon]="'fa fa-user'"
              [mode]="constantsService.ScoButtonConstants.MODE_DEFAULT"
              [position]="constantsService.ScoButtonConstants.FLOAT_POSITION_RIGHT_BOTTOM"
              (action)="click($event)" >
            </sco-button>
          </div>
        </div>

        <!-- 6 -->
        <div class="row mt-3">
          <div class="col-12 title-sco">
              <span>Ejemplo 6: Sizes</span>
          </div>
        </div>

        <div class="row">
          <div class="col-12 pl-4 pt-1">
            <sco-button
              [mode]="constantsService.ScoButtonConstants.MODE_DEFAULT"
              [size]="constantsService.ScoButtonConstants.SIZE_MEDIUM"
              [text]="'Medium'"
              (action)="click($event)">
            </sco-button>
          </div>
          <div class="col-12 pl-4 pt-1">
            <sco-button
              [mode]="constantsService.ScoButtonConstants.MODE_DEFAULT"
              [size]="constantsService.ScoButtonConstants.SIZE_LARGE"
              [text]="'Large'"
              (action)="click($event)">
            </sco-button>
          </div>
        </div>

        <!-- 7 -->
        <div class="row mt-3">
          <div class="col-12 title-sco">
              <span>Ejemplo 7: Icon</span>
          </div>
        </div>

        <div class="row">
          <div class="col-12 pl-4 pt-1">
            <sco-button
              [mode]="constantsService.ScoButtonConstants.MODE_DEFAULT"
              [icon]="'fa fa-user'"
              [text]="'texto'"
              (action)="click($event)">
            </sco-button>
          </div>
        </div>

        <!-- 8 -->
        <div class="row mt-3">
          <div class="col-12 title-sco">
              <span>Ejemplo 8: Icon button</span>
          </div>
        </div>

        <div class="row">
          <div class="col-12 pl-4 pt-1">
            <sco-button
              [mode]="constantsService.ScoButtonConstants.MODE_ICON"
              [icon]="'fa fa-bars'"
              (action)="click($event)">
            </sco-button>
          </div>
        </div>

        <!-- 9 -->
        <div class="row mt-3">
          <div class="col-12 title-sco">
              <span>Ejemplo 9: Icon button transparent</span>
          </div>
        </div>

        <div class="row">
          <div class="col-12 pl-4 pt-1">
            <sco-button
                [mode]="constantsService.ScoButtonConstants.MODE_ICON"
                [icon]="'fa fa-bars'"
                [transparent]="true"
                (action)="click($event)">
              </sco-button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div code>
    <sco-tabs>
      <sco-tab-item title="HTML">
        <pre>
          <code class="language-markup" pCode ngNonBindable>
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-12&quot;&gt;

    &lt;!-- 1 --&gt;
    &lt;div class=&quot;row mt-1&quot;&gt;
      &lt;div class=&quot;col-12 title-sco&quot;&gt;
        &lt;span&gt;Ejemplo 1: Botón default&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-12 pl-4 pt-1&quot;&gt;
        &lt;sco-button
          [mode]=&quot;constantsService.ScoButtonConstants.MODE_DEFAULT&quot;
          [text]=&quot;'texto'&quot;
          (action)=&quot;click($event)&quot;&gt;
        &lt;/sco-button&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;!-- 2 --&gt;
    &lt;div class=&quot;row mt-1&quot;&gt;
      &lt;div class=&quot;col-12 title-sco&quot;&gt;
        &lt;span&gt;Ejemplo 1: Modes&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-12 pl-4 pt-1&quot;&gt;
        &lt;sco-button
          [mode]=&quot;constantsService.ScoButtonConstants.MODE_SAVE&quot;
          [text]=&quot;'save'&quot;
          (action)=&quot;click($event)&quot;&gt;
        &lt;/sco-button&gt;
      &lt;/div&gt;
      &lt;div class=&quot;col-12 pl-4 pt-1&quot;&gt;
        &lt;sco-button
          [mode]=&quot;constantsService.ScoButtonConstants.MODE_DANGER&quot;
          [text]=&quot;'danger'&quot;
          (action)=&quot;click($event)&quot;&gt;
        &lt;/sco-button;&gt;
      &lt;/div&gt;
      &lt;div class=&quot;col-12 pl-4 pt-1&quot;&gt;
        &lt;sco-button
          [mode]=&quot;constantsService.ScoButtonConstants.MODE_INFO&quot;
          [text]=&quot;'info'&quot;
          (action)=&quot;click($event)&quot;;&gt;
        &lt;/sco-button&gt;
      &lt;/div&gt;
      &lt;div class=&quot;col-12 pl-4 pt-1&quot;&gt;
        &lt;sco-button
          [mode]=&quot;constantsService.ScoButtonConstants.MODE_WARNING&quot;
          [text]=&quot;'warning'&quot;
          (action)=&quot;click($event)&quot;&gt;
        &lt;/sco-button&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;!-- 3 --&gt;
    &lt;div class=&quot;row mt-1&quot;&gt;
      &lt;div class=&quot;col-12 title-sco&quot;&gt;
        &lt;span&gt;Ejemplo 3: Botón disabled&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-12 pl-4 pt-1&quot;&gt;
        &lt;sco-button
          [mode]=&quot;constantsService.ScoButtonConstants.MODE_DEFAULT&quot;
          [text]=&quot;'texto'&quot;
          [disabled]=&quot;true&quot;
          (action)=&quot;click($event)&quot;&gt;
        &lt;/sco-button&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;!-- 4 --&gt;
    &lt;div class=&quot;row mt-1&quot;&gt;
      &lt;div class=&quot;col-12 title-sco&quot;&gt;
        &lt;span&gt;Ejemplo 4: Botón submit&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-12 pl-4 pt-1&quot;&gt;
        &lt;form (ngSubmit)=&quot;submitForm()&quot;&gt;
          &lt;sco-button
            [mode]=&quot;constantsService.ScoButtonConstants.MODE_DEFAULT&quot;
            type=&quot;submit&quot;

            [text]=&quot;'submit'&quot;&gt;
          &lt;/sco-button&gt;
        &lt;/form&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;!-- 5 --&gt;
    &lt;div class=&quot;row mt-1&quot;&gt;
      &lt;div class=&quot;col-12 title-sco&quot;&gt;
        &lt;span&gt;Ejemplo 5: Botón float&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-12 pl-4 pt-1&quot;&gt;
        &lt;sco-button
          [floatButton]=&quot;true&quot;
          [icon]=&quot;'fa fa-user'&quot;
          [mode]=&quot;constantsService.ScoButtonConstants.MODE_DEFAULT&quot;
          [position]=&quot;constantsService.ScoButtonConstants.FLOAT_POSITION_RIGHT_BOTTOM&quot;
          (action)=&quot;click($event)&quot;&gt;
        &lt;/sco-button&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;!-- 6 --&gt;
    &lt;div class=&quot;row mt-1&quot;&gt;
      &lt;div class=&quot;col-12 title-sco&quot;&gt;
        &lt;span&gt;Ejemplo 6: Sizes&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-12 pl-4 pt-1&quot;&gt;
        &lt;sco-button
          [mode]=&quot;constantsService.ScoButtonConstants.MODE_DEFAULT&quot;
          [size]=&quot;constantsService.ScoButtonConstants.SIZE_MEDIUM&quot;
          [text]=&quot;'Medium'&quot;
          (action)=&quot;click($event)&quot;&gt;
        &lt;/sco-button&gt;
      &lt;/div&gt;
      &lt;div class=&quot;col-12 pl-4 pt-1&quot;&gt;
        &lt;sco-button
          [mode]=&quot;constantsService.ScoButtonConstants.MODE_DEFAULT&quot;
          [size]=&quot;constantsService.ScoButtonConstants.SIZE_LARGE&quot;
          [text]=&quot;'Large'&quot;
          (action)=&quot;click($event)&quot;&gt;
        &lt;/sco-button&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;!-- 7 --&gt;
    &lt;div class=&quot;row mt-1&quot;&gt;
      &lt;div class=&quot;col-12 title-sco&quot;&gt;
        &lt;span&gt;Ejemplo 7: Icon&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-12 pl-4 pt-1&quot;&gt;
        &lt;sco-button
          [mode]=&quot;constantsService.ScoButtonConstants.MODE_DEFAULT&quot;
          [icon]=&quot;'fa fa-user'&quot;
          [text]=&quot;'texto'&quot;
          (action)=&quot;click($event)&quot;&gt;
        &lt;/sco-button&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;!-- 8 --&gt;
    &lt;div class=&quot;row mt-3&quot;&gt;
      &lt;div class=&quot;col-12 title-sco&quot;&gt;
        &lt;span&gt;Ejemplo 8: Icon button &lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-12 pl-4 pt-1&quot;&gt;
        &lt;sco-button
          [mode]=&quot;constantsService.ScoButtonConstants.MODE_ICON&quot;
          [icon]=&quot;'fa fa-bars'&quot;
          (action)=&quot;click($event)"&gt;
        &lt;/sco-button&gt;
      &lt;/div&gt;
    &lt;div&gt;

    &lt;!-- 9 --&gt;
    &lt;div class=&quot;row mt-3&quot;&gt;
      &lt;div class=&quot;col-12 title-sco&quot;&gt;
        &lt;span&gt;Ejemplo 9: Icon button transparent&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-12 pl-4 pt-1&quot;&gt;
        &lt;sco-button
          [mode]=&quot;constantsService.ScoButtonConstants.MODE_ICON&quot;
          [icon]=&quot;'fa fa-bars'&quot;
          [transparent]=&quot;true&quot;
          (action)=&quot;click($event)&quot;&gt;
        &lt;/sco-button&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  &lt;/div&gt;
&lt;/div&gt;
          </code>
        </pre>
      </sco-tab-item>
      <sco-tab-item title="CSS"> 

      </sco-tab-item>
      <sco-tab-item title="TS">
        <pre>
          <code class="language-typescript" pCode ngNonBindable>
import &#123; Component, OnInit &#125; from '@angular/core';
import &#123; ScoCacheService, ScoConstantsService, ScoToastService &#125; from 'projects/sco-angular-components/src/public-api';

&commat;Component(&#123;
  selector: 'app-button-showcase',
  templateUrl: './button-showcase.component.html',
  styleUrls: ['./button-showcase.component.scss']
&#125;)
export class ButtonShowcaseComponent implements OnInit &#123;

  constructor(
    public constants: ScoConstantsService,
    public cacheService: ScoCacheService,
    public toastService: ScoToastService,
  ) &#123; 
    
    this.cacheService.setElement('title', 'Button');
  &#125;

  ngOnInit() &#123;
  &#125;

  click($event)&#123;
    this.toastService.addSuccessMessage('Exito', 'click en el boton');
  &#125;

  submitForm()&#123;
    this.toastService.addSuccessMessage('Exito', 'accion submit en el form');
  &#125;
&#125;
          </code>
        </pre>
      </sco-tab-item>
    </sco-tabs>
  </div>

  <div inputs>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Tipo</th>
          <th>Valor por defecto</th>
          <th>Posibles valores (constants)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>icon</td>
          <td>Icono del botón</td>
          <td>string</td>
          <td>undefined</td>
          <td></td>
        </tr>

        <tr>
          <td>text</td>
          <td>Texto del botón</td>
          <td>string</td>
          <td>undefined</td>
          <td></td>
        </tr>

        <tr>
          <td>block</td>
          <td>Indica si coge todo el ancho posible</td>
          <td>boolean</td>
          <td>false</td>
          <td></td>
        </tr>

        <tr>
          <td>disabled</td>
          <td>Indica si el botón esta deshabilitado</td>
          <td>boolean</td>
          <td>false</td>
          <td></td>
        </tr>

        <tr>
          <td>showText</td>
          <td>Indica si el botón debe mostrar el texto (Label)</td>
          <td>boolean</td>
          <td>true</td>
          <td></td>
        </tr>

        <tr>
          <td>type</td>
          <td>Tipo del botón</td>
          <td>string</td>
          <td>ScoButtonConstants.TYPE_BUTTON</td>
          <td>
            <ul>
              <li>ScoButtonConstants.TYPE_BUTTON</li>
              <li>ScoButtonConstants.TYPE_SUBMIT</li>
            </ul>
          </td>
        </tr>

        <tr>
          <td>mode</td>
          <td>Modo del botón</td>
          <td>string</td>
          <td>ScoButtonConstants.DEFAULT</td>
          <td>
            <ul>
              <li>ScoButtonConstants.MODE_DEFAULT</li>
              <li>ScoButtonConstants.MODE_SAVE</li>
              <li>ScoButtonConstants.MODE_DANGER</li>
              <li>ScoButtonConstants.MODE_INFO</li>
              <li>ScoButtonConstants.MODE_WARNING</li>
              <li>ScoButtonConstants.MODE_DISABLED</li>
              <li>ScoButtonConstants.MODE_LINK</li>
              <li>ScoButtonConstants.MODE_ICON</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>size</td>
          <td>Tamaño del botón</td>
          <td>string</td>
          <td>ScoButtonConstants.SIZE_SMALL</td>
          <td>
            <ul>
              <li>ScoButtonConstants.SIZE_SMALL</li>
              <li>ScoButtonConstants.SIZE_MEDIUM</li>
              <li>ScoButtonConstants.SIZE_LARGE</li>
            </ul>
          </td>
        </tr>

        <tr>
          <td>position</td>
          <td>Posicion del float button</td>
          <td>string</td>
          <td>ScoButtonConstants.FLOAT_POSITION_RIGHT_BOTTOM</td>
          <td>
            <ul>
              <li>ScoButtonConstants.FLOAT_POSITION_RIGHT_BOTTOM</li>
              <li>ScoButtonConstants.FLOAT_POSITION_CENTER_BOTTOM</li>
              <li>ScoButtonConstants.FLOAT_POSITION_LEFT_BOTTOM</li>
            </ul>
          </td>
        </tr>

        <tr>
          <td>border</td>
          <td>Indicador para mostrar o no el borde del botón</td>
          <td>boolean</td>
          <td>false</td>
          <td></td>
        </tr>

        <tr>
          <td>floatButton</td>
          <td>Boton flotante</td>
          <td>boolean</td>
          <td>false</td>
          <td></td>
        </tr>

        <tr>
          <td>transparent</td>
          <td>Indicador para que el botón tenga un background y border transparent (Icon)</td>
          <td>boolean</td>
          <td>false</td>
          <td></td>
        </tr>

      </tbody>
    </table>
  </div>

  <div outputs>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Valor devuelto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>action</td>
          <td>Acción al clicar el botón</td>
          <td>MouseEvent</td>
        </tr>
      </tbody>
    </table>
  </div>
</base-showcase>
