<div *ngIf="showDetail"
  class="sco-detail" 
  [@slide] 
  scoClickOutside 
  [avoidFirstTime]="false" 
  [clickOutsideEnabled]="clickOutsideEnabled" 
  (clickOutSide)="closeDetail($event)" (click)="closeOnClick && closeDetail($event)"
>
  <div class="row sco-detail__title" *ngIf="showTitle">
    <div class="col-lg-11 col-md-11 col-11">
      <ng-content select="[detail-title]"></ng-content>
    </div>
    <div clas="col-lg-1 col-md-1 col-1 text-right">
      <i class="fa fa-times sco-detail__close" (click)="closeDetail($event)"></i>
    </div>
  </div>

  <div class="row sco-detail__content">
    <div class="col-12">
      <ng-content select="[detail-content]"></ng-content>
    </div>
  </div>
</div>
<div class="sco-overlay" *ngIf="showDetail && showOverlay"></div>