<div *ngIf="(showDetail && rightPosition && !alwaysOpen) || (rightPosition && alwaysOpen)"
  class="sco-detail" 
  [ngClass]="{
    'sco-detail__right-position': rightPosition,
    'sco-detail__left-position': !rightPosition
  }"
  [ngStyle]="{
    'border-left': setBorder('left') ? border : '0px solid',
    'border-right': setBorder('right') ? border : '0px solid',
    'border-top': setBorder('top') ? border : '0px solid',
    'border-bottom': setBorder('bottom') ? border : '0px solid'
  }"

  [@slideRight]
  
  scoClickOutside 
  [avoidFirstTime]="false" 
  [clickOutsideEnabled]="clickOutsideEnabled && !alwaysOpen" 

  (clickOutSide)="closeDetail($event) && !alwaysOpen" 
  (click)="closeOnClick && !alwaysOpen && closeDetail($event)"
>
  <template *ngTemplateOutlet="detailTemplate"></template>
</div>

<div *ngIf="(showDetail && !rightPosition && !alwaysOpen) || (!rightPosition && alwaysOpen)"
  class="sco-detail" 
  [ngClass]="{
    'sco-detail__right-position': rightPosition,
    'sco-detail__left-position': !rightPosition
  }"
  [ngStyle]="{
    'border-left': setBorder('left') ? border : '0px solid',
    'border-right': setBorder('right') ? border : '0px solid',
    'border-top': setBorder('top') ? border : '0px solid',
    'border-bottom': setBorder('bottom') ? border : '0px solid'
  }"

  [@slideLeft]

  scoClickOutside 
  [avoidFirstTime]="false" 
  [clickOutsideEnabled]="clickOutsideEnabled && !alwaysOpen" 

  (clickOutSide)="closeDetail($event) && !alwaysOpen" 
  (click)="closeOnClick && !alwaysOpen && closeDetail($event)"
>
  <template *ngTemplateOutlet="detailTemplate"></template>
</div>

<ng-template #detailTemplate>
  <div class="row sco-detail__header" *ngIf="showTitle">
    <div class="sco-detail__header--title">
      <ng-content select="[detail-title]"></ng-content>
    </div>
    <div class="sco-detail__header--icon" *ngIf="showCloseButton && !alwaysOpen">
      <i class="fa fa-times sco-detail__header--icon--close" (click)="showCloseButton && closeDetail($event)"></i>
    </div>
  </div>

  <div class="row sco-detail__content">
    <div class="col-12">
      <ng-content select="[detail-content]"></ng-content>
    </div>
  </div>
</ng-template>

<div class="sco-overlay" *ngIf="showDetail && showOverlay && !alwaysOpen"></div>